@mixin generate-loadingindicator-styles {
  .LoadingIndicatorCircle {
    position: relative;
    width: getLoadingIndicatorSizes(base-timer-circle-width);
    height: getLoadingIndicatorSizes(base-timer-circle-height);
    &__svg {
      transform: scaleX(1);
    }

    &__circle {
      stroke: transparent;
    }

    &__path-elapsed {
      stroke-width: getLoadingIndicatorSizes(path-elapsed-width);
      transition: getLoadingIndicatorSizes(transition-all-indicator);
      stroke-width: getLoadingIndicatorSizes(path-elapsed-stroke-width);
      @include theme(fill, primary, $opacity: 0.04);
    }

    &__path-remaining {
      stroke-width: getLoadingIndicatorSizes(path-remaining-width);
      transform: rotate(90deg);
      transform-origin: center;
      transition: getLoadingIndicatorSizes(transition-circle-path-remaining) linear all;
      fill-rule: nonzero;
      @include theme(stroke, circle-indicator-remaining-color);
      stroke-width: getLoadingIndicatorSizes(path-remaining-stroke-width);
    }

    &__label {
      @include flex(center, center);
      font-size: getLoadingIndicatorSizes(base-timer-label-size);
    }

    .LoadingIndicatorCirclePercent {
      @include center-absolute();
    }
  }

  .LoadingIndicatorRectangle {
    position: relative;
    width: getLoadingIndicatorSizes(loading-indicator-rectangle-width);
    rect {
      stroke-width: getLoadingIndicatorSizes(rectangle-stroke-width);
      transition: getLoadingIndicatorSizes(transition-all-indicator);
      fill: transparent;
      width: getLoadingIndicatorSizes(loading-indicator-rectangle-width);
      height: getLoadingIndicatorSizes(loading-indicator-rectangle-height);
    }
    .UploadWrapper {
      @include flex(space-between, null);
      position: absolute;
      top: getLoadingIndicatorSizes(upload-wrapper-position);
      width: 100%;
      .GameIndicatorIconWrapper {
        @include flex(null, center);
        .GameIndicatorIcon {
          margin-left: getLoadingIndicatorSizes(game-icon-margin);
        }
        .ImageFormatLabel {
          @include theme(color, black-color);
          @include dots-after-text;
          margin-left: getLoadingIndicatorSizes(icon-label-margin);
          max-width: getLoadingIndicatorSizes(icon-label-max-width);
        }
      }
      .PerconWrapper {
        @include flex(null, center);
        .PercentUpload {
          margin-right: getLoadingIndicatorSizes(percent-upload-margin);
        }
        .TrashUploadIcon {
          @include theme(color, indicator-trash-color);
          margin-right: getLoadingIndicatorSizes(trash-icon-margin);
        }
      }
    }
  }

  .DropIndicator {
    background-image: svgToDataUrl(
      '<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 284 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="currentColor" stroke-dasharray="8" stroke-width=".5"><rect width="280" height="38" rx="3" stroke="none"/><rect x=".25" y=".25" width="280" height="38" rx="2.75" fill="none"/></g></svg>'
    );
    background-repeat: no-repeat;
    cursor: pointer;
    width: getLoadingIndicatorSizes(dropzone-width);
    height: getLoadingIndicatorSizes(dropzone-height);
    @include flex(center, center);
    @include theme(color, black-color);
    @include theme(stroke, black-color);

    &:disabled {
      @include theme(color, black-color, $opacity: 0.4);
    }
  }

  .DropzoneBase {
    background-image: svgToDataUrl(
      '<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 284 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="#8EA6C1" stroke-dasharray="8" stroke-width=".5"><rect width="280" height="38" rx="3" stroke="none"/><rect x=".25" y=".25" width="280" height="38" rx="2.75" fill="none"/></g></svg>'
    );
    background-repeat: no-repeat;
    width: getLoadingIndicatorSizes(dropzone-width);
    height: getLoadingIndicatorSizes(dropzone-base-height);
    @include theme(color, dropzone-base-color);
    @include flex(center, center);
  }

  @each $color in $base-colors {
    .LoadingIndicatorCircle--#{$color} {
      .LoadingIndicatorCircle {
        &__circle {
          @include theme(stroke, #{$color});
          @include theme(fill, #{$color}, $opacity: 0.1);
        }
      }

      .LoadingIndicatorCirclePercent {
        @include theme(color, #{$color});
      }
    }

    .LoadingIndicatorRectangle--#{$color} {
      rect {
        @include theme(stroke, #{$color});
      }

      .SecondRect {
        @include theme(stroke, #{$color}, $opacity: 0.1);
      }
    }
  }
}
