$loadingindicator-sizes: (
  base-timer-circle-width: calculateRem(40px),
  base-timer-circle-height: calculateRem(40px),
  base-timer-label-size: calculateRem(12px),
  path-elapsed-width: calculateRem(4px),
  path-elapsed-stroke-width: calculateRem(5px),
  path-remaining-width: calculateRem(4px),
  path-remaining-stroke-width: calculateRem(6px),
  loading-indicator-rectangle-width: calculateRem(280px),
  loading-indicator-rectangle-height: calculateRem(38px),
  rectangle-stroke-width: calculateRem(1px),
  transition-all-indicator: all 9s,
  transition-circle-path-remaining: 0.9s,
  upload-wrapper-position: calculateRem(8px),
  game-icon-margin: calculateRem(8px),
  icon-label-margin: calculateRem(8px),
  icon-label-max-width: calculateRem(120px),
  percent-upload-margin: calculateRem(8px),
  trash-icon-margin: calculateRem(6px),
  dropzone-width: calculateRem(284px),
  dropzone-height: calculateRem(42px)
);

$loadingindicator-colors: (
  circle-indicator-remaining-color: color(white),
  indicator-trash-color: color(comet)
);

@function getLoadingIndicatorSizes($property) {
  @return map-get($loadingindicator-sizes, $property);
}
