$tablehead-sizes: (
  table-head-font-weight: 700,
  table-head-font-size: calculateRem(14px),
  table-head-margin: 0 calculateRem(16px),
  table-head-height: calculateRem(18px),
  table-head-container-height: calculateRem(18px),
  table-arrow-icon-sizes: calculateRem(18px),
  table-icon-up-margin: calculateRem(2px) 0 calculateRem(1px) 0
);

@function getTableHeadSizes($property) {
  @return map-get($tablehead-sizes, $property);
}
