$colors: (
  midnight-sun: #505d6e,
  night-in-manchester: #6667ab,
  night-in-manchester-opacity-10: #3c54b41a,
  white: #fff,
  white-opacity: #ffffffb3,
  white-opacity-2: #ffffff80,
  gray-transparent: #8ea6c1,
  emerald: #00b21e,
  red-orange: #ff3434,
  sunglow: #ffcb2f,
  blue-ovlivion: #273c8e,
  alabaster: #f9f9f9,
  silver-color: #c0c0c0,
  gray-color: #828282,
  cornflower-blue: #6667ab1a,
  kashmir-blue: #4f6c92,
  dark: #000,
  gallery: #ebebeb,
  nepal: #95acc5,
  selago: #f4f7fe,
  white-lilac: #eaecf6,
  pippin: #ffe0e0,
  guardsman-red: #d30000,
  astronaut: #2b3674,
  comet: #51566a,
  athens-gray: #e5e7ee,
  expired: #b2b200,
  inactive-bg: #f4f4f5,
  guardsman-inactive: #8293a6,
  selago-light: #f6f8fe,
  wild-blue-yonder: #7c83ac,
  shark: #1d2226,
  outer-space: #373c3f,
  dark-opacity: #000000cc,
  nordland-light-blue: #95abc5
);
