$colors: (
  midnight-sun: #505d6e,
  night-in-manchester: #3c54b2,
  night-in-manchester-opacity-10: #3c54b21a,
  white: #fff,
  gray-transparent: #8ea6c1,
  emerald: #00b21e,
  red-orange: #ff3434,
  sunglow: #ffcb2f,
  blue-ovlivion: #273c8e,
  alabaster: #f9f9f9,
  silver-color: #c0c0c0,
  gray-color: #828282,
  cornflower-blue: #3c54b21a,
  kashmir-blue: #4f6c92,
  dark: #000,
  gallery: #ebebeb,
  nepal: #95acc5,
  selago: #f4f7fe,
  white-lilac: #eaecf6,
  pippin: #ffe0e0,
  guardsman-red: #d30000,
  astronaut: #2b3674,
  cold-purple: #9aa4ce,
  cold-purple-opacity-10: #9aa5ce1a,
  athens-gray: #e5e7ee,
  nepal-2: #8ea6c1
);
