$colors: (
  downy: #64c9cf,
  transparent-downy: rgba(134, 221, 226, 0.1),
  white: #fff,
  dark: #000,
  pelorous: #2eb2b9,
  riptide: #86dde2,
  selago: #f4f7fe,
  bermuda-gray: #7d86a9,
  concrete: #f2f2f2,
  stratos: #00194c,
  red-orange: #ff3434,
  emerald: #53d86a,
  sunglow: #ffcb2f,
  aqua-spring: #effafa,
  gray: #828282,
  carbon-fiber: rgba(46, 46, 46, 0.1),
  silver: #c0c0c0,
  oxford-blue: #00194c,
  night-in-manchester: #3c54b2,
  ma-white: #f4f7fe,
  nordland-light-blue: #95acc5 gray-transparent: #8ea6c1,
  heavy-violet: #51566a
);
