@import '../utils/functions';

$dark: (
  //Buttons
  buttonPrimaryBackground: color(downy),
  buttonPrimaryColor: color(white),
  buttonPrimaryHoverBackground: color(pelorous),
  buttonPrimaryActiveBackground: color(riptide),
  buttonPrimaryDisabledBackground: color(rdowny),
  buttonGhostBackground: color(white),
  buttonGhostColor: color(downy),
  buttonGhostBorderColor: color(downy),
  buttonGhostHover: color(transparent-downy),
  buttonGhostActive: color(transparent),
  buttonGhostDisabled: color(transparent),
  buttonGhostBorderDisabled: color(downy),
  //Inputs
  inputsDefaultBackgroud: color(selago),
  inputsDefaultColor: color(bermuda-gray),
  inputsDefaultHover: color(transparent),
  inputsDefaultActive: color(transparent),
  inputsDefaultDisabled: color(concrete),
  inputsDefaultHoverBorderColor: color(stratos),
  inputsDefaultActiveBorderColor: color(stratos),
  inputsDangerColor: color(red-orange),
  inputsDangerBorderColor: color(red-orange),
  inputsSuccessBorderColor: color(emerald),
  inputsSuccessColor: color(emerald),
  inputWarningBorderColor: color(sunglow),
  inputWarningColor: color(sunglow),
  //Datepicker
  input-borderColor--primary: color(stratos),
  datepicker-today-bg--primary: color(pelorous),
  datepicker-day-bg-inRange--primary: color(aqua-spring),
  datepicker-day-color-inRange--primary: color(pelorous),
  datepicker-day-rangeStart-bg--primary:color(pelorous),
  datepicker-day-rangeStart-color--primary:color(white),
  datepicker-day-rangeEnd-bg--primary:color(pelorous),
  datepicker-day-rangeEnd-color--primary:color(white),
  datepicker-month-container-borderColor--primary:color(bermuda-gray),
  datepicker-day-outsideMonth-color--primary:color(gray),
  datepicker-dividerColor--primary:color(bermuda-gray),
  datepicker-dayName--primary:color(gray),
  datepicker-day-bgHover--primary:color(downy),
  datepicker-day-keyboardSelected-bg--primary:color(pelorous),
  datepicker-day-keyboardSelected-color--primary:color(white),
  datepicker-day-in-selectingRange-bg--primary:color(aqua-spring),
  datepicker-day-in-selectingRange-color--primary:color(aqua-spring),
  datepicker-day-selecting-rangeStart-bg--primary:color(pelorous),
  datepicker-day-selecting-rangeStart-color--primary:color(white),
  datepicker-day-selecting-rangeEnd-bg--primary:color(pelorous),
  datepicker-day-selecting-rangeEnd-color--primary:color(white),
);
