@import '../utils/functions';

$default: (
  //Buttons
  buttonPrimaryBackground: color(downy),
  buttonPrimaryColor: color(white),
  buttonPrimaryHoverBackground: color(pelorous),
  buttonPrimaryActiveBackground: color(riptide),
  buttonPrimaryDisabledBackground: color(rdowny),
  buttonGhostBackground: color(white),
  buttonGhostColor: color(downy),
  buttonGhostBorderColor: color(downy),
  buttonGhostHover: color(transparent-downy),
  buttonGhostActive: color(transparent),
  buttonGhostDisabled: color(transparent),
  buttonGhostBorderDisabled: color(downy),
  //Inputs
  inputsDefaultBackgroud: color(selago),
  inputsDefaultColor: color(bermuda-gray),
  inputsDefaultHover: color(transparent),
  inputsDefaultActive: color(transparent),
  inputsDefaultDisabled: color(concrete),
  inputsDefaultHoverBorderColor: color(stratos),
  inputsDefaultActiveBorderColor: color(stratos),
  inputsDangerColor: color(red-orange),
  inputsDangerBorderColor: color(red-orange),
  inputsSuccessBorderColor: color(emerald),
  inputsSuccessColor: color(emerald),
  inputWarningBorderColor: color(sunglow),
  inputWarningColor: color(sunglow),
  //Datepicker
  datepicker-input-border--primary: color(stratos),
  datepicker-bg-color--primary: red,
  datepicker-color--primary: color(white),
  datepicker-day-bg-inRange--primary: color(aqua-spring),
  datepicker-month-container-borderColor--primary: color(bermuda-gray),
  datepicker-day-outsideMonth-color--primary: color(gray),
  datepicker-dividerColor--primary: color(bermuda-gray),
  datepicker-dayName--primary: color(gray),
  datepicker-day-in-selectingRange-bg--primary: color(aqua-spring)
);
