@mixin generate-sidebar-styles {
  .SidebarWrapper {
    position: static;
    height: getSideBarSizes(sidebar-height);
  }

  .SidebarBase {
    @include theme(background-color, sidebar-background-color);

    position: absolute;
    z-index: getSideBarSizes(sidebar-z-index);
    // @include flex(null, null, $direction: column);
    width: getSideBarSizes(sidebar-collapsed-min-width);
    height: getSideBarSizes(sidebar-height);
    @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
    transition: getSideBarSizes(sidebar-transition);

    &--fixed {
      position: fixed;
    }

    &--static {
      position: static;
    }

    &--logo {
      margin: getSideBarSizes(sidebar-logo-collapsed-margin);
      width: getSideBarSizes(sidebar-logo-width);
      height: getSideBarSizes(sidebar-logo-height);
      border-radius: getSideBarSizes(sidebar-logo-borderRadius);
      transition: getSideBarSizes(sidebar-transition);

      @include theme(background-color, sidebar-logo-background-color);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: getSideBarSizes(sidebar-logo-border-radius);
        background: #fff;
      }
    }

    &--button-container {
      @include theme(background-color, sidebar-button-container-background-color);
      @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
      width: getSideBarSizes(sidebar-button-container-width);
      height: getSideBarSizes(sidebar-button-container-height);
      position: absolute;
      border-radius: getSideBarSizes(sidebar-button-container-borderRadius);
      top: getSideBarSizes(sidebar-button-container-top);
      right: getSideBarSizes(sidebar-button-container-right);
      cursor: pointer;

      svg {
        @include theme(fill, primary);
      }
    }

    &--button {
      width: getSideBarSizes(sidebar-button-container-width);
      height: getSideBarSizes(sidebar-button-container-height);

      &:hover {
        background-color: transparent;
      }
    }

    &--item-container {
      margin-top: getSideBarSizes(sidebar-item-container-margin-top);
      padding: 0;
    }

    &::before {
      content: '';
      @include theme(background-color, sidebar-line-color);
      position: absolute;
      right: getSideBarSizes(sidebar-base-before-positon-right);
      top: getSideBarSizes(sidebar-base-before-positon-top);
      width: getSideBarSizes(sidebar-base-before-width);
      min-height: getSideBarSizes(sidebar-base-before-min-height);
    }

    &--closed {
      width: getSideBarSizes(sidebar-min-width);
      background-color: getSideBarColors(sidebar-background-color);

      &::before {
        position: absolute;
        right: getSideBarSizes(sidebar-base-before-positon-right);
        top: getSideBarSizes(sidebar-base-before-positon-top);
        content: '';
        width: getSideBarSizes(sidebar-base-before-width);
        @include theme(background-color, sidebar-line-color);
        min-height: getSideBarSizes(sidebar-base-before-min-height);
      }

      .SidebarBase--logo {
        margin: getSideBarSizes(sidebar-logo-margin);
        transition: getSideBarSizes(sidebar-transition);
      }

      .SidebarBase--menu-item {
        a {
          display: none;
          transition: getSideBarSizes(sidebar-transition);
        }
      }
    }
  }
}
