@mixin generate-sidebar-styles {
  .SidebarWrapper {
    position: static;
    height: getSideBarSizes(sidebar-height);
  }

  .SidebarContainer {
    // @include theme(background-color, primary);
  }

  .SidebarContent,
  .SidebarBase {
    // background-color: inherit;
  }

  .SidebarBase {
    position: absolute;
    z-index: getSideBarSizes(sidebar-z-index);
    // @include flex(null, null, $direction: column);
    width: getSideBarSizes(sidebar-collapsed-min-width);
    height: getSideBarSizes(sidebar-height);
    @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
    @include theme(background-color, primary);
    // @include theme(background-color, sidebar-button-container-background-color);

    // background:aqua;
    transition: getSideBarSizes(sidebar-transition);

    &--fixed {
      position: fixed;
    }

    &--static {
      position: static;
      max-width: getSideBarSizes(sidebar-width);
      // background-color: inherit;
    }

    &--logo-container {
      min-height: 103px;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      &:after {
        position: absolute;
        bottom: 0;
        left: 13px;
        display: block;
        content: '';
        width: calc(100% - 26px);
        height: 1px;
        background: rgba(#8ea6c1, 0.2);
        z-index: 100;
      }
    }

    &--logo {
      margin: getSideBarSizes(sidebar-logo-collapsed-margin);
      width: getSideBarSizes(sidebar-logo-width);
      height: getSideBarSizes(sidebar-logo-height);
      border-radius: getSideBarSizes(sidebar-logo-borderRadius);
      transition: getSideBarSizes(sidebar-transition);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      @include theme(background-color, sidebar-logo-background-color);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: getSideBarSizes(sidebar-logo-border-radius);
        background: #fff;
      }
    }

    &--button-container {
      // @include theme(background-color, sidebar-button-container-background-color);
      @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
      width: getSideBarSizes(sidebar-button-container-width);
      height: getSideBarSizes(sidebar-button-container-height);
      position: absolute;
      border-radius: getSideBarSizes(sidebar-button-container-borderRadius);
      top: getSideBarSizes(sidebar-button-container-top);
      right: getSideBarSizes(sidebar-button-container-right);
      cursor: pointer;
      background-color: #fff;
      svg {
        @include theme(fill, primary);
      }
    }

    button#{&}--button {
      width: getSideBarSizes(sidebar-button-container-width);
      height: getSideBarSizes(sidebar-button-container-height);

      svg {
        width: getSideBarSizes(button-arrow-width);
      }

      &:hover {
        background-color: transparent;
      }
    }

    &--item-container {
      margin-top: getSideBarSizes(sidebar-item-container-margin-top);
      padding: 0;
      svg {
        transform: all linear 0.16s !important;
      }
      li {
        & > a,
        svg {
          transform: all linear 0.16s !important;
        }
      }
      li:hover {
        & > div {
          & > a {
            transform: all linear 0.16s !important;
            color: #fff !important;
          }
        }
        svg {
          fill: #fff !important;
          transform: all linear 0.16s !important;
        }
      }
    }

    &::before {
      content: '';
      @include theme(background-color, sidebar-line-color);
      position: absolute;
      right: getSideBarSizes(sidebar-base-before-positon-right);
      top: getSideBarSizes(sidebar-base-before-positon-top);
      width: getSideBarSizes(sidebar-base-before-width);
      min-height: getSideBarSizes(sidebar-base-before-min-height);
    }

    &--closed {
      width: getSideBarSizes(sidebar-min-width);

      &::before {
        position: absolute;
        right: getSideBarSizes(sidebar-base-before-positon-right);
        top: getSideBarSizes(sidebar-base-before-positon-top);
        content: '';
        width: getSideBarSizes(sidebar-base-before-width);
        @include theme(background-color, sidebar-line-color);
        min-height: getSideBarSizes(sidebar-base-before-min-height);
      }

      .SidebarBase--logo {
        margin: getSideBarSizes(sidebar-logo-margin);
        transition: getSideBarSizes(sidebar-transition);
      }

      .SidebarBase--menu-item {
        a {
          display: none;
          transition: getSideBarSizes(sidebar-transition);
        }
      }
    }
  }

  .SidebarBase-ToggleIcon {
    @include theme(fill, sidebar-toggle-icon-fill);
  }
}
