$sidebar-sizes: (
  sidebar-min-width: calculateRem(72px),
  sidebar-collapsed-min-width: calculateRem(215px),
  sidebar-height: calculateRem(768px),
  sidebar-z-index: 1000,
  sidebar-logo-margin: calculateRem(32px) calculateRem(16px) 0 calculateRem(16px),
  sidebar-logo-collapsed-margin: calculateRem(32px) 0 0 calculateRem(16px),
  sidebar-logo-width: calculateRem(40px),
  sidebar-logo-height: calculateRem(40px),
  sidebar-logo-borderRadius: calculateRem(4px),
  sidebar-button-container-width: calculateRem(24px),
  sidebar-button-container-height: calculateRem(24px),
  sidebar-button-container-borderRadius: calculateRem(26px),
  sidebar-button-container-top: calculateRem(40px),
  sidebar-button-container-right: calculateRem(-14px),
  sidebar-item-container-margin-top: calculateRem(66.5px),
  sidebar-base-before-positon-right: calculateRem(-1px),
  sidebar-base-before-positon-top: 6%,
  sidebar-base-before-width: calculateRem(1px),
  sidebar-base-before-min-height: 94%,
  sidebar-logo-border-radius: 4px
);

$sidebar-colors: (
  sidebar-background-color: color(white),
  sidebar-logo-background-color: color(midnight-sun),
  sidebar-button-container-background-color: color(white),
  sidebar-line-color: color(mercury)
);

@function getSideBarSizes($property) {
  @return map-get($sidebar-sizes, $property);
}

@function getSideBarColors($property) {
  @return map-get($sidebar-colors, $property);
}
