$sidebar-sizes: (
  sidebar-min-width: 7.2rem,
  sidebar-collapsed-min-width: 21.5rem,
  sidebar-height: 76.8rem,
  sidebar-z-index: 1000,
  sidebar-logo-margin: 3.2rem 1.6rem 0 1.6rem,
  sidebar-logo-collapsed-margin: 3.2rem 0 0 1.6rem,
  sidebar-logo-width: 4rem,
  sidebar-logo-height: 4rem,
  sidebar-logo-borderRadius: 0.4rem,
  sidebar-button-container-width: 2.4rem,
  sidebar-button-container-height: 2.4rem,
  sidebar-button-container-borderRadius: 2.6rem,
  sidebar-button-container-top: 4rem,
  sidebar-button-container-right: -1.4rem,
  sidebar-item-container-margin-top: 6.65rem
);

$sidebar-colors: (
  sidebar-background-color: color(white),
  sidebar-logo-background-color: color(midnight-sun),
  sidebar-button-container-background-color: color(white),
  sidebar-line-color: color(mercury)
);
