@mixin generate-pagination-styles {
  .PaginationWrapper {
    :global {
      .MyUI-SelectInput {
        padding-right: 0;
        padding-left: getPaginationSizes(select-input-padding-left);
        margin-bottom: getPaginationSizes(select-input-margin);
        min-height: getPaginationSizes(select-input-height);
        border: none !important;
        @include theme(color, black-color);
        &:focus {
          @include theme(border, primary, $postExtra: solid 0.1rem !important);
        }
      }
      .MyUI-TextInputBaseInput {
        @include theme(color, black-color);
        padding-top: 0;
      }
      .MyUI-TextInputContainer {
        min-height: initial;
        svg {
          transform: scale(0.833);
          @include theme(color, black-color);
        }
      }
      .MyUI-TextInputContainer--focused {
        svg {
          @include theme(color, primary);
        }
      }
      .MyUI-TextInputEndIcon {
        top: getPaginationSizes(select-wrapper-svg-position-top);
        right: getPaginationSizes(select-wrapper-svg-position-right);
      }
      .SelectWrapper {
        width: auto;
        margin-bottom: getPaginationSizes(select-wrapper-margin);
      }
    }
    .PaginationInputWrapper {
      @include flex(null, center);
      .CountNumbers {
        @include theme(color, black-color);
        letter-spacing: getPaginationSizes(select-label-letter-spacing);
        margin-left: getPaginationSizes(count-container-margin);
      }
      .PaginationSelectWrapper {
        width: getPaginationSizes(react-select-menu-width);
      }
      :global {
        .react-select {
          &__menu {
            min-height: initial;
            // top: getPaginationSizes(react-select-menu-position-top);
            top: 2.5rem;
            right: 0.2rem;
          }
          &__option,
          &__option:last-child {
            height: getPaginationSizes(react-select-menu-option-height);
            border-bottom: none;
            cursor: pointer;
            span {
              margin-left: getPaginationSizes(react-select-menu-option-span-margin);
            }
          }
        }
      }
    }
    .PaginationPageSizeWrapper {
      @include flex(center, baseline);
      font-size: getPaginationSizes(page-size-option-font-size);
      @include theme(color, black-color);
    }
    .PaginationPageSizeIcon {
      @include flex(center, center);
      @include theme(color, primary, $opacity: 0.65);
      width: getPaginationSizes(page-size-arrow-size);
    }
    @include flex(null, center);
    .SelectWrapper {
      width: auto;
      margin-bottom: getPaginationSizes(select-wrapper-margin);
    }
    .SelectLabel {
      @include theme(color, black-color);
      letter-spacing: getPaginationSizes(select-label-letter-spacing);
    }
    .SelectIconContainer {
      width: getPaginationSizes(select-icon-container-width);
      height: getPaginationSizes(select-icon-container-height);
      @include flex(center, center);
      width: auto;
      margin-bottom: 0;
    }
    .SelectCountContainer {
      @include flex(null, center);
    }
    .PaginationFormContainer {
      @include flex(null, center);
      .PaginationList {
        @include flex(null, center);
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          margin-left: getPaginationSizes(pagination-list-li-margin);
          margin-bottom: 0.2rem;
          font-size: getPaginationSizes(pagination-list-li-font-size);
          @include theme(color, black-color);
          cursor: pointer;
          &:first-child {
            margin-left: getPaginationSizes(pagination-list-li-first-element-margin);
          }
        }
        :global {
          li.selected {
            min-width: getPaginationSizes(pagination-list-li-selected-width);
            padding: 0.2rem;
            height: getPaginationSizes(pagination-list-li-selected-height);
            @include flex(center, center);
            @include theme(background-color, primary);
            @include theme(color, primary--color);
            border-radius: 50%;
            cursor: pointer;
          }
          li.disabled {
            display: none;
          }
        }
      }
      :global {
        .MyUI-TextInputBaseInput {
          @include theme(color, black-color);
          padding-top: 0;
          transition: opacity 0.2s;
          @include theme(opacity, disabled-opacity);
          &:focus {
            opacity: 1;
          }
        }
      }
    }
    .PaginationInputContainer {
      margin: getPaginationSizes(pagination-input-container-margin);
      @include flex(null, center);
      .PaginationInputJupm {
        max-width: getPaginationSizes(pagination-input-jupm-width);
        min-height: getPaginationSizes(pagination-input-jupm-height);
        padding: getPaginationSizes(pagination-input-jupm-padding);
        margin-left: getPaginationSizes(pagination-input-margin);
        font-size: getPaginationSizes(pagination-input-font-size);
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .PaginationInputLabel {
        letter-spacing: getPaginationSizes(select-label-letter-spacing);
        margin-top: getPaginationSizes(pagination-input-container-margin-top);
        @include theme(color, black-color);
      }
    }
  }
  .ArrowPrev,
  .ArrowNext {
    text-decoration: none;
    @include theme(fill, arrow-prev-fill);
  }
}
