@mixin generate-browsers-card-styles {
  .BrowsersCardList {
    display: flex;
    flex-wrap: wrap;
  }

  .BrowsersCard {
    border-radius: getBrowsersCardSizes(browser-card-border-radius);
    width: getBrowsersCardSizes(browser-card-width);
    height: getBrowsersCardSizes(browser-card-height);
    margin-right: getBrowsersCardSizes(browser-card-margin-right);
    margin-bottom: getBrowsersCardSizes(browser-card-margin-bottom);
    font-size: getBrowsersCardSizes(browser-card-font-size);
    box-sizing: border-box;
    @include flex(center, center);
    &:last-child {
      margin-right: 0;
    }

    &--selected {
      @include theme(background, browser-card-bg-color--selected);
      @include theme(border, browser-card-border-color--selected, solid 1px);
    }

    &--selected-disable {
      opacity: getBrowsersCardSizes(browser-card-opacity--selected-disable);
      @include theme(background, browser-card-bg-color--selected-disable);
      @include theme(border, browser-card-border-color--selected-disable, solid 1px);
    }

    &--disable {
      @include theme(border, browser-card-border-color--disable, solid 1px);
      opacity: getBrowsersCardSizes(browser-card-opacity--disable);
    }

    &--active {
      @include theme(border, browser-card-border-color--active, solid 1px);
    }

    &__Label {
      text-align: center;
      font-size: getBrowsersCardSizes(browser-card-opacity--disable);
      line-height: getBrowsersCardSizes(browser-card-label-line-height);
      font-family: $base-font-family;
      padding-top: getBrowsersCardSizes(browser-card-label-padding-top);
      display: inline-block;
      @include theme(color, browser-card-label-color);
    }

    &__ElementsGroup {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
