@mixin generate-alert-styles {
  .AlertBase {
    @include theme(background-color, alert-background-color);
    @include flex(null, center);
    min-width: getAlertSizes(alert-width);
    width: -moz-fit-content; // for mozilla
    width: fit-content;
    height: getAlertSizes(alert-height);
    border-radius: getAlertSizes(alert-radius);
    padding: getAlertSizes(alert-padding);
    margin-bottom: getAlertSizes(alert-margin-bottom);
    box-sizing: border-box;

    @include theme(box-shadow, box-shadow-color, 2px 2px 5px 0);

    .AlertText {
      @include theme(color, gray-color);
      margin-left: getAlertSizes(alert-text-marginLeft);
    }
  }

  .AlertContainer {
    position: fixed;
    top: getAlertSizes(alert-animation-position);
    right: getAlertSizes(alert-animation-position);

    z-index: getAlertSizes(alert-container-z-index);
    svg {
      width: getAlertSizes(alert-container-pop-up-svg-width);
      position: relative;
      top: 0;
      left: getAlertSizes(alert-container-pop-up-svg-left);
    }
  }

  .AlertEnter,
  .AlertEnterActive {
    animation: showAlert getAlertSizes(alert-animation) ease forwards;
  }

  .AlertExit,
  .AlertExitActive {
    animation: hideAlert getAlertSizes(alert-animation) ease forwards;
  }

  @keyframes hideAlert {
    40% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes showAlert {
    0% {
      transform: translateX(100%);
    }
    40% {
      transform: translateX(-10%);
    }
    80% {
      transform: translateX(0%);
    }
  }

  .AlertClose {
    cursor: pointer;
    margin-left: getAlertSizes(alert-close-marginLeft);
    width: getAlertSizes(alert-close-width);
    @include theme(fill, gray-color);
  }

  .AlertCheckIconCell {
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    display: block;
    width: getAlertSizes(alert-container-svg-width);
    margin-right: 1px;
    svg {
      width: 100%;
      height: auto;
    }

    &--Check {
      text-decoration: none;
      transform: translate(-2px, 2px);
    }
    &--Warning {
      text-decoration: none;
      transform: translate(-3px, 0px);
    }
    &--Error {
      text-decoration: none;
      transform: translate(-3px, 0px);
    }
    &--Info {
      text-decoration: none;
      transform: translate(-4px, 0px);
    }
  }
}
