$alert-sizes: (
  alert-width: calculateRem(252px),
  alert-height: calculateRem(42px),
  alert-radius: calculateRem(4px),
  alert-padding: calculateRem(9px) calculateRem(6px) calculateRem(9px) calculateRem(12px),
  alert-text-marginLeft: calculateRem(4px),
  alert-close-marginLeft: calculateRem(16px)
);

@function getAlertSizes($property) {
  @return map-get($alert-sizes, $property);
}
