@mixin generate-color-picker-styles {
  label {
    cursor: pointer;
  }
  .ColorPickerInput {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    opacity: 0;
  }
  .ColorPicker {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 30px;
    z-index: 2;
    position: relative;
  }
}
