@mixin generate-scroll-styles {
  .TrackVertical {
    @include theme(background-color, light-gray-color);

    width: map-get($base-scroll-variables, track-vertical-width);
    border-radius: map-get($base-scroll-variables, track-borderRadius) !important;
  }

  .ThumbVertical {
    @include theme(background-color, gray-color);
  }

  .TrackHorizontal {
    @include theme(background-color, light-gray-color);

    height: map-get($base-scroll-variables, track-horizontal-height);
    border-radius: map-get($base-scroll-variables, track-borderRadius) !important;
  }

  .ThumbHorizontal {
    @include theme(background-color, gray-color);
  }
}
