@mixin generate-scroll-styles {
  .TrackVertical {
    @include theme(background-color, light-gray-color);

    width: getIconBaseScroll(track-vertical-width);
    border-radius: getIconBaseScroll(track-border-radius) !important;
  }

  .ThumbVertical {
    @include theme(background-color, gray-color);
  }

  .TrackHorizontal {
    @include theme(background-color, light-gray-color);

    height: getIconBaseScroll(track-horizontal-height);
    border-radius: getIconBaseScroll(track-border-radius) !important;
  }

  .ThumbHorizontal {
    @include theme(background-color, gray-color);
  }

  .TrackVertical,
  .TrackHorizontal {
    z-index: getIconBaseScroll(track-z-index);
  }
}
