@mixin generate-copyfield-styles {
  .CopyFieldWrapper {
    @include theme(background-color, copy-field-background);
    @include flex(null, center);
    max-width: getCopyFieldSizes(copy-field-wrapper-max-width);
    width: fit-content;
    width: -moz-fit-content;
    height: getCopyFieldSizes(copy-field-wrapper-height);
    box-sizing: border-box;
    padding: getCopyFieldSizes(copy-field-wrapper-padding);
    .Url {
      @include theme(color, black-color);
      @include dots-after-text;
      max-width: getCopyFieldSizes(url-max-width);
    }
    .Copy {
      width: getCopyFieldSizes(copy-url-sizes);
      height: getCopyFieldSizes(copy-url-sizes);
      margin-left: getCopyFieldSizes(copy-url-margin);
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
