// This mixins is used for generating box-shadow like border for preventing size changing

@mixin generateBorderWithBoxShadow($color-variable, $size: 0.1rem) {
  @include theme(box-shadow, $color-variable, 0px 0px 0px $size);
}

// Use flexbox

@mixin flex($justify-content: null, $align-items: null, $direction: null, $flex-wrap: null) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
}

@mixin grid() {
  display: grid;
}

// Center with position: absolute;

@mixin center-absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

// Center with display: flex

@mixin center-flex {
  @include flex(center, center);
}

// Dots after text

@mixin dots-after-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin animation-start {
  animation: dialog-animation 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards !important;
}

@mixin animation-exit {
  animation: dialog-animation-exit 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@mixin rotate-animation($duration: 1.5s) {
  animation: rotate-animation $duration linear infinite;
}

@mixin reset-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

@mixin hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:global {
  @keyframes dialog-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dialog-animation-exit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes rotate-animation {
    to {
      transform: rotate(360deg);
    }
  }
}
