@import '../themes/functions';

// Sizes

$base-sizes: (
  z-index: 10
);

// Colors

$base-colors-map: (
  primary: color(night-in-manchester),
  primary--transparent: rgba(color(night-in-manchester), 0.1),
  primary--pressed: rgba(color(night-in-manchester), 0.2),
  primary--light: rgba(color(night-in-manchester), 0.9),
  primary--lighter: color(cornflower-blue),
  primary--color: color(white),
  primary--bold: color(blue-ovlivion),
  primary--silver: color(silver-color),
  primary--gray: color(gray-color),
  success: color(emerald),
  success--bold: color(emerald),
  success--light: color(emerald),
  success--transparent: rgba(color(emerald), 0.1),
  success--pressed: rgba(color(emerald), 0.2),
  success--color: color(emerald),
  warning: color(sunglow),
  warning--bold: color(sunglow),
  warning--light: color(sunglow),
  warning--transparent: rgba(color(sunglow), 0.1),
  warning--pressed: rgba(color(sunglow), 0.2),
  warning--color: color(sunglow),
  danger: color(red-orange),
  danger--bold: color(red-orange),
  danger--light: color(red-orange),
  danger--transparent: rgba(color(red-orange), 0.1),
  danger--pressed: rgba(color(red-orange), 0.2),
  danger--color: color(red-orange),
  black-color: color(midnight-sun),
  gray-color: color(gray-transparent),
  light-gray-color: color(walls-of-santorini),
  black-color--transparent: rgba(color(midnight-sun), 0.1),
  disabled-opacity: 0.4
);
