; begin auth token
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/registry/:username=bangitsgroup
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/registry/:_password=ZWluNnkzbGl0eTN5M2d1NjRzZG00dG5ucWluM3NqcjJsdTNnbndtczM1ZTNmaHRzeGQ3YQ==
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/registry/:email=amesropyan@bangits.com
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/:username=bangitsgroup
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/:_password=ZWluNnkzbGl0eTN5M2d1NjRzZG00dG5ucWluM3NqcjJsdTNnbndtczM1ZTNmaHRzeGQ3YQ==
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/:email=amesropyan@bangits.com
; end auth token
registry=https://pkgs.dev.azure.com/bangitsgroup/Common/_packaging/ui-libs/npm/registry/ 
always-auth=true