@mixin generate-cardimg-styles {
  .CardImgContainer {
    height: 100%;
    .CardImg {
      width: 100%;
      height: 100%;
      font-size: 0;
      // height: getCardImgSizes(card-img-height);
      @include theme(box-shadow, box-shadow-color, 0 0 4px 0);
      @include theme(background-color, black-color);
      border-radius: getCardImgSizes(card-img-border-radius);
      position: relative;
      top: 0;
      left: 0;
      *,
      &:after {
        box-sizing: border-box;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: getCardImgSizes(card-img-border-radius);
        object-fit: cover;
      }
    }
    .CardTextContainer {
      @include flex(center, center);
      @include theme(background-color, card-background-color);
      @include theme(color, gray-color);
      @include theme(box-shadow, box-shadow-color, 0 0 4px 0);
      @include theme(border, card-img-border-color, 1px solid);
      box-sizing: border-box;
      border-radius: getCardImgSizes(card-text-container-border-radius);
      height: getCardImgSizes(card-text-container-height);
      padding: getCardImgSizes(card-text-container-padding);
      .CardText {
        @include dots-after-text;
        max-width: getCardImgSizes(card-text-width);
        cursor: default;
      }
    }
  }
}
