// Colors
$base-colors: 'primary', 'success', 'warning', 'danger';
$base-colors-with-default: 'primary', 'success', 'warning', 'danger', 'default';

// Font
$base-font-size: 62.5%;
$rem-size: 10px;
$base-font-family: 'Roboto', sans-serif;
