@mixin generate-avatarcard-styles {
  .AvatarWrapper {
    img {
      border-radius: getAvatarCardSizes(avatar-status-border-radius);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .AvatarBase {
      width: getAvatarCardSizes(avatar-offline-state-width);
      height: getAvatarCardSizes(avatar-offline-state-height);
      @include flex(center, center);

      border-radius: getAvatarCardSizes(avatar-offline-border-radius);
      padding: getAvatarCardSizes(avatar-offline-padding);
      box-sizing: content-box;
      position: relative;

      .AvatarStateStatus {
        width: getAvatarCardSizes(avatar-status-width);
        height: getAvatarCardSizes(avatar-status-heigth);
        border-radius: getAvatarCardSizes(avatar-status-border-radius);
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .AvatarOfflineState {
      @include theme(border, avatar-offline, solid 0.1rem);

      .AvatarStateStatus {
        @include theme(background-color, avatar-offline);
      }
    }

    .AvatarOnlineState {
      border: solid 1px #00b21e;

      .AvatarStateStatus {
        background-color: #00b21e;
      }
    }

    .AvatarMediumCardWrapper {
      width: getAvatarCardSizes(avatar-card-wrapper-width);
      height: getAvatarCardSizes(avatar-card-wrapper-height);

      .AvatarStateStatus {
        right: getAvatarCardSizes(avatar-medium-status-position-right);
      }
    }
    .AvatarSmallCardWrapper {
      width: getAvatarCardSizes(avatar-card-small-wrapper-width);
      height: getAvatarCardSizes(avatar-card-small-wrapper-height);
      .AvatarStateStatus {
        bottom: getAvatarCardSizes(avatar-small-status-position-bottom);
      }
    }
  }
}
