@import './mixins';

$colors: (
  white: #fff,
  dark: #000
);

$typography-sizes: (
  h1-size: 4.2rem,
  h1-line-height: 4.2rem
);

// Themes generation

$themeValues: ();
$themes: ();

@import '../themes/default';
@import '../themes/dark';

@include generateThemeMappings(dark, $dark);
@include generateThemeMappings(default, $default);

@include generateThemeVariables();
