@mixin generate-checkbox-styles {
  .CheckboxContainer,
  .Checkbox input {
    width: getCheckboxSizes(checkbox-width);
    height: getCheckboxSizes(checkbox-height);

    position: relative;
    cursor: pointer;
  }

  .Checkbox label {
    cursor: pointer;
  }

  .CheckboxIcon {
    display: none;

    width: getCheckboxSizes(checkbox-check-width);
  }

  .Checkbox {
    input {
      border-style: solid;
      border-width: getCheckboxSizes(checkbox-border-width);
      border-radius: getCheckboxSizes(checkbox-border-radius);
      @include theme(border-color, black-color);

      // Reset
      margin: 0;
      -webkit-appearance: none;
      transform: translateY(0);
      outline: none;

      &:checked {
        & + .CheckboxIcon {
          display: block;

          @include center-absolute();
        }
      }

      &:disabled {
        @include theme(opacity, disabled-opacity);
      }
    }
  }

  @each $color in $base-colors {
    .Checkbox--#{$color} {
      input {
        &:checked {
          @include theme(border-color, #{$color});
          @include theme(background-color, #{$color});
        }
      }
    }
  }
}
