.Select {
  position: relative;
  // TREE END
  .Select--search {
    width: 28rem;
  }
  //
  &--dropdown-control {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include theme(color, black-color);
    @each $color in $base-colors {
      &--#{$color} {
        @include theme(color, #{$color});
      }
    }
  }
  //this so that the filter is closed, the label and icon must be of this color
  .Select--iconClose {
    @include theme(color, black-color);
  }
  .Select--labelClose {
    @include theme(color, black-color);
  }
  .Select--dropdown-control-icon {
    width: 2.4rem;
    height: 2.4rem;
    @include flex(center, center);
  }
  .Select--dropdown-control-label {
    height: 1.6rem;
    margin-left: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14rem;
  }
  .Select--dropdown--input {
    position: absolute;
    top: 0;
    z-index: 1000000000;
    width: 19.2rem;
    height: 3.1rem;
    border-bottom: solid 1px #f9f9f9;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: #ffffffff;
    > input {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-family: $base-font-family;
      font-size: 1.2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      padding: 0 2.8rem 0 0.8rem;
      color: #505d6e;
      border-radius: 0.8rem 0.8rem 0 0;
      &::placeholder {
        font-family: $base-font-family;
        font-size: 1.2rem;
        opacity: 0.4;
        color: #48485d;
      }
    }
    > span {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      width: 2.4rem;
      height: 2.4rem;
      color: #48485d;
      opacity: 0.4;
    }
  }
  .AllOption {
    &:first-child {
      > div {
        border-bottom: none;
        > div {
        }
        &:hover {
          background-color: rgba(60, 84, 178, 0.1);
          border-radius: 0.8rem 0.8rem 0 0;
        }
      }
    }
  }
  &--custom-option {
    &:first-child {
      margin: 0;
      > div {
        padding-left: 0.4rem;
      }
    }
    margin: 0 0.4rem;
    &:hover {
      margin: 0;
      > div {
        padding-left: 0.4rem;
      }
    }
  }
  .Select--icon-container {
    display: flex;
    font-size: 0;
  }
  .Select--bottom-part {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999999;
    // bottom: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 3.1rem;
    border-radius: 0 0 0.6rem 0.6rem;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
    div {
      display: flex;
      cursor: pointer;
      color: #48485d;
    }
    span {
      height: 1.4rem;
      font-size: 1.2rem;
      color: #48485d;
      padding-left: 0.4rem;
      @include dots-after-text;
    }
    button {
      font-size: calculateRem(15px);
    }
  }
  .Select__top-part {
    padding: 0 calculateRem(8px);
    padding-top: calculateRem(4px);
    color: #505d6e;
  }
  .Select--dropdown--input {
    &-top-part {
      transform: translateY(calculateRem(23px));
    }
  }
  @include generate-select-styles;
  &--fullWidth {
    width: 100%;
    .AllOption {
      &:first-child {
        width: 100%;
      }
    }
    .Select--search,
    .Select--bottom-part {
      width: 100%;
    }
    @include generate-full-width-select-styles;
  }
  &--dropdown {
    @include generate-dropdown-select-styles;
  }
  &--with-clear {
    @include generate-with-clear-select-styles;
  }
  &--all {
    .SelectScroll {
      /* margin-top: 3.1rem; */
    }
  }
  :global {
    .MyUI-TextInputEndIcon {
      cursor: pointer;
    }
  }
}

.ClearIcon-Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.DropdownArrow {
  @include theme(fill, primary);
  &--IconUp {
    text-decoration: none;
  }
  &--IconDown {
    text-decoration: none;
  }
}

.SelectDropdownSearchIconCell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
