.ButtonBase {
  display: flex;
  align-items: center;
  height: map-get($base-button-sizes, height);
  padding: map-get($base-button-sizes, padding);
  border-radius: map-get($base-button-sizes, border-radius);
  font-size: map-get($base-button-sizes, font-size);
  border: none;
  cursor: pointer;
}

.LeftIcon {
  position: relative;
  right: map-get($base-button-sizes, buttonIconMargin);
}

.RightIcon {
  position: relative;
  left: map-get($base-button-sizes, buttonIconMargin);
}

.ButtonPrimary {
  @include theme(background-color, buttonPrimaryBackground);
  @include theme(color, buttonPrimaryColor);

  &:hover {
    @include theme(background-color, buttonPrimaryHoverBackground);
  }

  &:active {
    @include theme(background-color, buttonPrimaryActiveBackground);
  }

  &:disabled {
    @include theme(background-color, buttonPrimaryDisabledBackground);
    opacity: 0.4;
  }
}

.ButtonGhost {
  @include theme(background-color, buttonGhostBackground);
  @include theme(color, buttonGhostColor);

  @include theme(border, buttonGhostBorderColor, 1px solid);

  &:hover {
    @include theme(background-color, buttonGhostHover);
  }
  &:active {
    @include theme(background-color, buttonGhostActive);
  }
  &:disabled {
    @include theme(background-color, buttonGhostDisabled);
    @include theme(border-color, buttonGhostBorderDisabled);
  }
}
