@mixin generate-card-styles {
  .CardBase {
    width: map-get($card-sizes, card-width);
    height: map-get($card-sizes, card-height);
    border-radius: map-get($card-sizes, card-borderRadius);
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.05);
  }
}
