.RadioButton {
  display: flex;
  input:checked,
  input:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  input:checked + label,
  input:not(:checked) + label {
    position: relative;
    padding-left: 2.8rem;
    cursor: pointer;
    line-height: 2rem;
    display: inline-block;
    color: #666;
  }
  input:checked + label:before,
  input:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.2rem solid #a4b7cd;
    border-radius: 100%;
    background: transparent;
    padding: 0.4rem;
    box-sizing: border-box;
  }
  input:checked + label:after,
  input:not(:checked) + label:after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background: #64c9cf;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  input:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  input:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.RadioButtonActive {
  input:checked + label:after,
  input:not(:checked) + label:after {
    background: #505d6e;
  }
}

.RadioButtonDisabled {
  input:checked + label:after,
  input:not(:checked) + label:after {
    background: #505d6e;
    opacity: 0.4;
  }
}
