@mixin generate-file-uploader-styles {
  .DropIndicator {
    position: relative;
    background-image: svgToDataUrl(
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.3 42.3" style="enable-background:new 0 0 284.3 42.3" xml:space="preserve"><path d="M3.1 0h277.6c1.7 0 3 1.4 3 3.3v35.1c0 1.9-1.3 3.3-3 3.3H3.1c-1.7 0-3-1.4-3-3.3V3.3C0 1.5 1.4 0 3.1 0z" style="fill:none"/><path d="M3.1.2h278.1c1.5 0 2.8 1.3 2.8 3.1V39c0 1.6-1.2 3.1-2.8 3.1H3.1C1.6 42.1.3 40.8.3 39V3.3C.2 1.7 1.6.2 3.1.2z" style="fill:none;stroke:#505D6E;stroke-width:.5;stroke-dasharray:8"/></svg>'
    );
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    width: getFileUploaderSizes(dropzone-width);
    height: getFileUploaderSizes(dropzone-height);
    @include flex(center, center);
    @include theme(color, black-color);
    @include theme(stroke, black-color);
    transition: 0.2s;
    &:disabled {
      @include theme(color, black-color, $opacity: 0.4);
    }
  }
  .DropzoneBase {
    position: relative;
    border: calculateRem(1px) dashed;
    border-radius: calculateRem(5px);
    box-sizing: border-box;
    width: getFileUploaderSizes(dropzone-base-width);
    height: getFileUploaderSizes(dropzone-base-height);
    @include theme(color, dropzone-base-color);
    @include flex(center, center);
    transition: 0.2s ease-out;
    &--full-width {
      width: 100%;
    }
    &--upload {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      &::-webkit-file-upload-button {
        visibility: hidden;
        cursor: pointer;
      }
    }
    &--browse {
      position: relative;
      @include theme(color, primary);
      text-decoration: underline;
      display: inline-block;
      cursor: pointer;
    }
  }
  .GameIndicatorIconWrapper {
    @include flex(null, center);
    .GameIndicatorIcon {
      margin-left: getFileUploaderSizes(game-icon-margin);
      @include theme(background-color, black-color);
      width: getFileUploaderSizes(game-indicator-sizes);
      height: getFileUploaderSizes(game-indicator-sizes);
      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
    .ImageFormatLabel {
      @include theme(color, black-color);
      @include dots-after-text;
      margin-left: getFileUploaderSizes(icon-label-margin);
      max-width: getFileUploaderSizes(icon-label-max-width);
    }
  }
  .PerconWrapper {
    @include flex(null, center);
    .PercentUpload {
      margin-right: getFileUploaderSizes(percent-upload-margin);
    }
    .TrashUploadIcon {
      @include reset-button;
      @include theme(color, indicator-trash-color);
      margin-right: getFileUploaderSizes(trash-icon-margin);
      cursor: pointer;
      width: getFileUploaderSizes(trash-icon-width);
      @include flex;
    }
  }
}
