$file-uploader-sizes: (
  dropzone-width: calculateRem(284px),
  dropzone-height: calculateRem(42px),
  dropzone-base-height: calculateRem(38px),
  dropzone-base-width: calculateRem(280px),
  game-icon-margin: calculateRem(8px),
  icon-label-margin: calculateRem(8px),
  icon-label-max-width: calculateRem(120px),
  percent-upload-margin: calculateRem(8px),
  trash-icon-margin: calculateRem(6px),
  trash-icon-width: calculateRem(14px),
  game-indicator-sizes: calculateRem(24px)
);

$file-uploader-colors: (
  dropzone-base-color: color(black-color)
);

@function getFileUploaderSizes($key) {
  @return map-get($file-uploader-sizes, $key);
}
