@mixin generate-menu-item-styles {
  .MenuItemBase {
    position: relative;
    @include flex(null, center);
    list-style-type: none;
    width: getMenuItemSizes(sidebar-menu-item-width);
    height: getMenuItemSizes(sidebar-menu-item-height);
    cursor: pointer;

    &--isActive {
      height: getMenuItemSizes(sidebar-menu-item-isActive-height);
      @include theme(background-color, primary, $opacity: 0.05);
      border-radius: getMenuItemSizes(sidebar-menu-item-isActive-borderRadius);

      &::after {
        content: '';
        position: absolute;
        top: getMenuItemSizes(sidebar-menu-item-isActive-after-top);
        left: getMenuItemSizes(sidebar-menu-item-isActive-after-left);
        display: block;
        width: getMenuItemSizes(sidebar-menu-item-isActive-after-width);
        height: getMenuItemSizes(sidebar-menu-item-isActive-after-height);
        @include theme(background-color, sidebar-menu-item-isActive-after-background-color);
        border-radius: getMenuItemSizes(sidebar-menu-item-isActive-after-borderRadius);
      }

      .MenuItemBase--icon {
        margin: getMenuItemSizes(sidebar-menu-item-isActive-icon-margin);
        width: getMenuItemSizes(sidebar-menu-item-isActive-icon-width);
        height: getMenuItemSizes(sidebar-menu-item-isActive-icon-height);
        padding: getMenuItemSizes(sidebar-menu-item-isActive-icon-padding);
        @include theme(color, sidebar-menu-item-isActive-icon-color);
        opacity: getMenuItemSizes(sidebar-menu-item-isActive-icon-opacity);
        svg {
          @include theme(fill, sidebar-menu-item-isActive-icon-color);
        }
      }

      .MenuItemBase--label {
        min-width: getMenuItemSizes(sidebar-menu-item-label-min-width);
        margin: getMenuItemSizes(sidebar-menu-item-isActive-label-margin);
        padding: getMenuItemSizes(sidebar-menu-item-isActive-label-padding);
        font-family: $base-font-family;
        font-size: getMenuItemSizes(sidebar-menu-item-isActive-label-font-size);
        font-weight: 700;
        letter-spacing: getMenuItemSizes(sidebar-menu-item-isActive-label-letter-spacing);
        @include theme(color, sidebar-menu-item-isActive-label-color);
        opacity: getMenuItemSizes(sidebar-menu-item-isActive-label-opacity);
      }
    }

    &--sub {
      display: none;
    }
    &--sub-header {
      display: none;
    }

    &:hover {
      height: getMenuItemSizes(sidebar-menu-item-hover-height);
      @include theme(background-color, primary, $opacity: 0.05);
      border-radius: getMenuItemSizes(sidebar-menu-item-hover-borderRadius);
      margin-bottom: getMenuItemSizes(sidebar-menu-item-hover-marginB);

      .MenuItemBase--icon {
        margin-left: getMenuItemSizes(sidebar-menu-item-hover-icon-marginL);
        width: getMenuItemSizes(sidebar-menu-item-hover-icon-width);
        height: getMenuItemSizes(sidebar-menu-item-hover-icon-height);
        padding: getMenuItemSizes(sidebar-menu-item-hover-icon-padding);
        @include theme(color, sidebar-menu-item-hover-icon-color);
        opacity: getMenuItemSizes(sidebar-menu-item-hover-icon-opacity);
        transition: getMenuItemSizes(sidebar-menu-item-transition);

        svg {
          @include theme(fill, sidebar-menu-item-isActive-icon-color);
        }
      }
      .MenuItemBase--label {
        margin-left: getMenuItemSizes(sidebar-menu-item-hover-label-marginL);
        padding: getMenuItemSizes(sidebar-menu-item-hover-label-padding);
        font-family: $base-font-family;
        font-size: getMenuItemSizes(sidebar-menu-item-hover-label-font-size);
        font-weight: bold;
        letter-spacing: getMenuItemSizes(sidebar-menu-item-hover-label-letter-spacing);
        @include theme(color, sidebar-menu-item-isActive-label-color);
        opacity: getMenuItemSizes(sidebar-menu-item-hover-label-opacity);
        transition: getMenuItemSizes(sidebar-menu-item-transition);
      }

      .MenuItemBase--sub {
        position: absolute;
        @include flex(center, center, $direction: column);
        top: getMenuItemSizes(hover-sub-menu-top);
        right: getMenuItemSizes(hover-sub-menu-right);
        width: getMenuItemSizes(hover-sub-menu-width);
        @include theme(box-shadow, box-shadow-color, 0 3px 6px 0);
        @include theme(background-color, hover-sub-menu-background-color);
        border-radius: getMenuItemSizes(hover-sub-menu-borderRadius);

        .MenuItemBase--sub-header {
          display: block;
          align-self: flex-start;
          margin-left: getMenuItemSizes(hover-sub-menu-header-marginL);
          font-size: getMenuItemSizes(hover-sub-menu-header-font-size);
          font-weight: getMenuItemSizes(hover-sub-menu-header-font-weight);
          @include theme(color, hover-sub-menu-header-color);
        }
      }
    }

    &--icon {
      margin-left: getMenuItemSizes(sidebar-menu-item-icon-marginL);
      min-width: getMenuItemSizes(sidebar-menu-item-icon-min-width);
      width: getMenuItemSizes(sidebar-menu-item-icon-width);
      height: getMenuItemSizes(sidebar-menu-item-icon-height);
      padding: getMenuItemSizes(sidebar-menu-item-icon-padding);
      @include theme(color, sidebar-menu-item-icon-color);
      opacity: getMenuItemSizes(sidebar-menu-item-icon-opacity);
      transition: getMenuItemSizes(sidebar-menu-item-transition);

      svg {
        @include theme(fill, sidebar-menu-item-icon-color);
      }
    }

    &--label {
      font-family: $base-font-family;
      margin-left: getMenuItemSizes(sidebar-menu-item-label-marginL);
      padding: getMenuItemSizes(sidebar-menu-item-label-padding);
      font-family: $base-font-family;
      font-size: getMenuItemSizes(sidebar-menu-item-label-font-size);
      font-weight: getMenuItemSizes(sidebar-menu-item-label-font-weight);
      @include theme(color, sidebar-menu-item-label-color);
      opacity: getMenuItemSizes(sidebar-menu-item-label-opacity);
      min-width: getMenuItemSizes(sidebar-menu-item-label-min-width);
      transition: getMenuItemSizes(sidebar-menu-item-transition);
    }
  }

  .ParentList {
    padding: 0;
    list-style: none;
    margin-left: -10px;
    &__Item {
      list-style: none;
      position: relative;
      top: 0;
      left: 0;
    }

    &__Item-Link {
      display: block;
      padding: 9px 8px 9px 38px;
      font-family: inherit;
      font-size: 16px;
      line-height: 19px;
      color: #95acc5;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.16s linear, color 0.16s linear;
      position: relative;
      top: 0;
      left: 0;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 36px;
        background: #3c54b2;
        z-index: 10;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        opacity: 0;
        transition: opacity 0.16s linear;
      }
      &--Current,
      &:hover {
        background: rgba(60, 84, 178, 0.05);
        color: #3c54b2;

        .ParentCatIcon {
          svg {
            fill: #3c54b2;
          }
        }
        .ArrowTopCell {
          svg {
            fill: #3c54b2;
          }
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .ChildList {
    padding: 0 0 0 10px;
    list-style: none;
    &__Item {
      padding-left: 15px;
      padding-right: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      list-style: none;
      position: relative;
      top: 0;
      left: 0;
    }
    &__Item-Link {
      display: block;
      padding: 8px 8px 8px 20px;
      list-style: none;
      font-family: inherit;
      font-size: 12px;
      line-height: 14px;
      color: #95acc5;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.16s linear, color 0.16s linear;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &--Current,
      &:hover {
        background: rgba(60, 84, 178, 0.05);
        color: #3c54b2;
      }
    }
  }

  .ArrowTopCell {
    display: block;
    width: 11px;
    height: 7px;
    position: absolute;
    top: calc(50% - 11px);
    right: 20px;
    svg {
      transition: fill 0.16s linear;
      fill: #dfe6f1;
    }
  }
  .ParentCatIcon {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 9px);
    left: 11px;
    svg {
      transition: fill 0.16s linear;
      fill: #dfe6f1;
    }
  }
}
// fill: #3c54b2 !important;
