@mixin generate-breadcrumb-styles {
  .BreadcrumbBase {
    @include flex(null, center);

    font-size: breadcrumb-sizes(breadcrumbBase-font-size);

    margin: 0;
    padding: 0;
    list-style: none;
    padding: breadcrumb-sizes(breadcrumbBase-padding);

    .BreadcrumbItem {
      @include theme(color, black-color);

      &:first-child {
        margin-left: breadcrumb-sizes(breadcrumb-item-first-child-margin-left);

        &:before {
          content: '';
        }
      }

      &:last-child {
        .BreadcrumbText {
          opacity: breadcrumb-sizes(breadcrumb-item-active-opacity);
        }
      }

      &:hover {
        .BreadcrumbLink {
          opacity: breadcrumb-sizes(breadcrumb-item-active-opacity);
        }
      }
    }

    .BreadcrumbText {
      transition: all breadcrumb-sizes(breadcrumb-hover-transition);
      transition-property: opacity, color;

      opacity: breadcrumb-sizes(breadcrumb-item-opacity);

      &.BreadcrumbLink {
        cursor: pointer;
      }
    }

    .BreadcrumbIconContainer {
      width: breadcrumb-sizes(next-icon-size);
      height: breadcrumb-sizes(next-icon-size);

      margin: 0 breadcrumb-sizes(breadcrumb-item-icon-margin);

      @include flex(center, center);

      opacity: breadcrumb-sizes(breadcrumb-item-opacity);
    }
  }
}
