$breadcrumb-sizes: (
  breadcrumbBase-font-size: calculateRem(14px),
  breadcrumbBase-padding: 0,
  breadcrumb-item-icon-margin: calculateRem(8px),
  next-icon-size: calculateRem(24px),
  breadcrumb-item-opacity: 0.5,
  breadcrumb-item-first-child-margin-left: 0,
  breadcrumb-item-active-opacity: 1,
  breadcrumb-item-arrow-width: calculateRem(3px),
  breadcrumb-item-arrow-height: calculateRem(3px),
  breadcrumb-item-arrow-margin-left: calculateRem(-30px),
  breadcrumb-hover-transition: 0.3s
);

$breadcrumb-colors: ();

@function breadcrumb-sizes($sizeName) {
  @return map-get($breadcrumb-sizes, $sizeName);
}
