@mixin generate-header-styles {
  .Header {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 1px 5px 10px black;
    .HeaderContainer {
      display: flex;
      margin-right: 40px;
    }
  }
}
