@mixin generate-header-styles {
  .Header {
    @include theme(background-color, header-background);
    box-sizing: border-box;
    width: 100%;
    height: getHeaderSizes(header-height);

    @include flex(flex-end, center);

    .HeaderContainer {
      @include flex(null, center);
      margin-right: getHeaderSizes(header-container-margin);
    }
  }
}
