@mixin generate-sidebar-styles {
  .SidebarWrapper--fixed {
    position: fixed;
  }
  .SidebarWrapper--static {
    position: static;
  }

  .SidebarBase {
    position: absolute;
    z-index: map-get($sidebar-sizes, sidebar-z-index);
    display: flex;
    flex-direction: column;
    min-width: map-get($sidebar-sizes, sidebar-collapsed-min-width);
    min-height: map-get($sidebar-sizes, sidebar-min-height);
    background-color: map-get($sidebar-colors, sidebar-background-color);
    box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    /* overflow: hidden;
    overflow-y: scroll; */

    &--logo {
      margin: map-get($sidebar-sizes, sidebar-logo-collapsed-margin);
      width: map-get($sidebar-sizes, sidebar-logo-width);
      height: map-get($sidebar-sizes, sidebar-logo-height);
      border-radius: map-get($sidebar-sizes, sidebar-logo-borderRadius);
      transition: 0.3s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
      }
    }

    &--button-container {
      background-color: red;
      box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
      width: map-get($sidebar-sizes, sidebar-button-container-width);
      height: map-get($sidebar-sizes, sidebar-button-container-height);
      position: absolute;
      border-radius: map-get($sidebar-sizes, sidebar-button-container-borderRadius);
      top: map-get($sidebar-sizes, sidebar-button-container-top);
      right: map-get($sidebar-sizes, sidebar-button-container-right);
      cursor: pointer;
    }

    &--item-container {
      margin-top: map-get($sidebar-sizes, sidebar-item-container-margin-top);
      padding: 0;
    }

    &::before {
      position: absolute;
      right: -1px;
      top: 6vh;
      content: '';
      width: 1px;
      background-color: #ebebeb;
      min-height: 94.85vh;
    }

    &--closed {
      position: absolute;
      z-index: map-get($sidebar-sizes, sidebar-z-index);
      display: flex;
      flex-direction: column;
      min-width: map-get($sidebar-sizes, sidebar-min-width);
      min-height: map-get($sidebar-sizes, sidebar-min-height);
      background-color: map-get($sidebar-colors, sidebar-background-color);
      box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
      transition: 0.3s;

      &::before {
        position: absolute;
        right: -1px;
        top: 6rem;
        content: '';
        width: 1px;
        background-color: #ebebeb;
        min-height: 94.85vh;
      }

      .SidebarBase--logo {
        margin: map-get($sidebar-sizes, sidebar-logo-margin);
        transition: 0.3s;
      }

      .SidebarBase--menu-item {
        > a {
          display: none;
          transition: 0.3s;
        }
      }
    }
  }
}
