$sidebar-sizes: (
  sidebar-min-width: 7.2rem,
  sidebar-collapsed-min-width: 21.5rem,
  sidebar-min-height: 100vh,
  sidebar-z-index: 1000,
  sidebar-logo-margin: 3.2rem 1.6rem 0 1.6rem,
  sidebar-logo-collapsed-margin: 3.2rem 0 0 2.4rem,
  sidebar-logo-width: 4rem,
  sidebar-logo-height: 4rem,
  sidebar-logo-borderRadius: 0.4rem,
  sidebar-button-container-width: 2.4rem,
  sidebar-button-container-height: 2.4rem,
  sidebar-button-container-borderRadius: 50%,
  sidebar-button-container-top: 4rem,
  sidebar-button-container-right: -1.2rem,
  sidebar-item-container-margin-top: 8rem
);

$sidebar-colors: (
  sidebar-background-color: color(white)
);
