@mixin generate-avatar-styles {
  .Avatar {
    @include flex(null, center);
    position: relative;

    .AvatarLabel {
      @include theme(color, avatar-label-color);

      font-size: getAvatarSizes(avatar-label-size);
      font-weight: 500;
      margin-right: getAvatarSizes(avatar-label-margin-right);
      margin-left: getAvatarSizes(avatar-label-margin-left);
    }
    .AvatarImg {
      width: getAvatarSizes(avatar-img-width);
      height: getAvatarSizes(avatar-img-height);
      @include theme(border, avatar-border-color, 1px solid);
      border-radius: getAvatarSizes(avatar-border-radius);
      margin-left: getAvatarSizes(avatar-img-margin);
      img {
        width: 100%;
      }
    }

    .AvatarDropdownTitle {
      font-weight: 500;
      margin: 16px 24px 16px;
    }
    .AvatarSubMenuItems {
      padding: 0;
      margin-left: 8px;
      // margin: 16px 24px;
    }
    .AvatarDropdownCard {
      position: absolute;
      width: 181px;
      padding: 16px 8px;
      right: 0;
      bottom: 0;
      top: 50px;
      height: fit-content;

      .AvatarDropdownDivider {
        width: 165px;
        border: solid 1px #f9f9f9;
        background: #f9f9f9;
      }

      .AvatarSubMenuItemsLink {
        margin: 0 -3px;
        margin-left: 8px;
      }
      .AvatarDropdownMenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
