@mixin generate-datepicker-styles {
  :global {
    z-index: map-get($datepicker-sizes, datepicker-z-index);

    .react-datepicker {
      display: flex;
      font-family: $base-font-family;

      &__navigation-icon--previous,
      &__navigation-icon--next {
        display: none;
      }

      &__input-container {
        width: map-get($datepicker-sizes, input-container-width);
        position: relative;

        input {
          font-family: $base-font-family;
          width: 100%;
          height: map-get($datepicker-sizes, input-height);
          outline: none;
          border-radius: map-get($datepicker-sizes, input-border-radius);
          padding-left: map-get($datepicker-sizes, input-container-padding);
        }

        svg {
          position: absolute;
          right: map-get($datepicker-sizes, datepicker-icon-margin);
          top: map-get($datepicker-sizes, datepicker-icon-margin);
        }
      }

      &__day {
        &--today {
          font-weight: 700;
          outline: none;
        }

        &--range-start,
        &--selecting-range-start {
          border-bottom-left-radius: map-get($datepicker-sizes, day-range--borderRadius);
          border-top-left-radius: map-get($datepicker-sizes, day-range--borderRadius);
        }

        &--range-end,
        &--selecting-range-end,
        &--in-selecting-range:hover {
          border-bottom-right-radius: map-get($datepicker-sizes, day-range--borderRadius);
          border-top-right-radius: map-get($datepicker-sizes, day-range--borderRadius);
        }

        &-names {
          display: flex;
          justify-content: space-around;
          width: map-get($datepicker-sizes, datepicker-day--names);
          padding-top: map-get($datepicker-sizes, datepicker-day--namesPadding);

          .react-datepicker__day-name {
            width: map-get($datepicker-sizes, datepicker-day--nameWidth);
            margin-bottom: map-get($datepicker-sizes, datepicker-day--nameMargin);
            padding-top: map-get($datepicker-sizes, datepicker-day--namePadding);
            font-size: map-get($datepicker-sizes, datepicker-day--name);
            text-transform: uppercase;
          }
        }
      }

      &__month-container {
        background-color: transparent;
        border-radius: map-get($datepicker-sizes, datepicker-month-container--borderRadius);
        width: map-get($datepicker-sizes, datepicker-month--container);
        font-size: map-get($datepicker-sizes, datepicker-month--size);
        position: relative;
      }

      &__header {
        .react-datepicker__current-month {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: map-get($datepicker-sizes, datepicker-current--month);
          font-weight: 700;

          &--hasYearDropdown,
          &--hasMonthDropdown {
            display: none;
          }
        }

        /* here must be the styles of select year and select month */
        &__dropdown {
          /* -------------->>>>>>>>>>>>>>> Month Container Start <<<<<<<<<<<<<<<-------------- */

          /* Select Month styles month dropdown container */
          .react-datepicker__month-dropdown-container {
            //Month dropdown
            .react-datepicker__month-dropdown {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-end;
              justify-content: space-around;
              background-color: white;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;

              //Month
              .react-datepicker__month-option {
                width: 4rem;
                margin: 10px;
                text-align: center;
                border-radius: 4px;
                padding: 8px 20px 10px;
                font-size: 1.8rem;
                color: black;
                cursor: pointer;
              }

              //Selected Month
              .react-datepicker__month-option--selected_month {
                background-color: #2eb2b9;
                color: white;

                .react-datepicker__month-option--selected {
                  //Icon
                  display: none;
                }
              }
            }

            //selected  month and arrow icon to click for selecting month.(this is located on the header section)
            .react-datepicker__month-read-view {
              .react-datepicker__month-read-view--down-arrow {
                //Arrow Icon
              }

              .react-datepicker__month-read-view--selected-month {
                margin-right: 0.8rem;
              }
            }
          }
          /* -------------->>>>>>>>>>>>>>> Month Container End <<<<<<<<<<<<<<<-------------- */

          /* -------------->>>>>>>>>>>>>>> Year Container Start <<<<<<<<<<<<<<<-------------- */
          //Select Year styles year dropdown container.
          .react-datepicker__year-dropdown-container {
            //Select year dropdown
            .react-datepicker__year-dropdown {
              //Years
              .react-datepicker__year-option {
                .react-datepicker__navigation {
                }
                .react-datepicker__navigation--years {
                }

                .react-datepicker__navigation--years-upcoming {
                }

                .react-datepicker__navigation--years-previous {
                }
              }

              //Selected Year
              .react-datepicker__year-option--selected_year {
                //Selected Year Icon
                .react-datepicker__year-option--selected {
                }
              }
            }

            //selected  year and arrow icon to click for selecting year.(this is located on the header section)
            .react-datepicker__year-read-view {
              .react-datepicker__year-read-view--down-arrow {
                // Icon
              }

              .react-datepicker__year-read-view--selected-year {
                //Selected Year
              }
            }
          }
          /* -------------->>>>>>>>>>>>>>> Year Container End <<<<<<<<<<<<<<<-------------- */
        }

        &__dropdown--scroll {
          /* -------------->>>>>>>>>>>>>>> Month Container Start <<<<<<<<<<<<<<<-------------- */

          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2.2rem;
          font-weight: 700;
          /* Select Month styles month dropdown scroll container */
          .react-datepicker__month-dropdown-container--scroll {
            //Month dropdown
            .react-datepicker__month-dropdown {
              //Month
              .react-datepicker__month-option {
              }

              //Selected Month
              .react-datepicker__month-option--selected_month {
                .react-datepicker__month-option--selected {
                  //Icon
                }
              }
            }

            //selected  month and arrow icon to click for selecting month.(this is located on the header section)
            .react-datepicker__month-read-view {
              .react-datepicker__month-read-view--down-arrow {
                //Arrow Icon
              }

              .react-datepicker__month-read-view--selected-month {
                //Selected Month
              }
            }
          }

          /* -------------->>>>>>>>>>>>>>> Month Container End <<<<<<<<<<<<<<<-------------- */

          /* -------------->>>>>>>>>>>>>>> Year Container Start <<<<<<<<<<<<<<<-------------- */
          //Select Year styles year dropdown scroll container
          .react-datepicker__year-dropdown-container--scroll {
            //Select year dropdown
            .react-datepicker__year-dropdown {
              display: flex;
              flex-wrap: wrap;
              align-items: flex-end;
              justify-content: space-around;
              background-color: white;
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;

              //Years
              .react-datepicker__year-option {
                width: 4rem;
                margin: 10px;
                text-align: center;
                border-radius: 4px;
                padding: 8px 20px 10px;
                font-size: 1.8rem;
                color: black;
                cursor: pointer;
                .react-datepicker__navigation {
                }
                .react-datepicker__navigation--years {
                }

                .react-datepicker__navigation--years-upcoming {
                }

                .react-datepicker__navigation--years-previous {
                }
              }

              //Selected Year
              .react-datepicker__year-option--selected_year {
                //Selected Year Icon
                .react-datepicker__year-option--selected {
                  display: none;
                }
              }
            }

            //selected  year and arrow icon to click for selecting year.(this is located on the header section)
            .react-datepicker__year-read-view {
              .react-datepicker__year-read-view--down-arrow {
                // Icon
              }

              .react-datepicker__year-read-view--selected-year {
                //Selected Year
              }
            }
          }
          /* -------------->>>>>>>>>>>>>>> Year Container End <<<<<<<<<<<<<<<-------------- */
        }
      }

      &__navigation--next,
      &__navigation--previous {
        width: map-get($datepicker-sizes, datepicker-navigation--nextSize);
        height: map-get($datepicker-sizes, datepicker-navigation--nextSize);
        border: none;
        position: absolute;
        top: map-get($datepicker-sizes, datepicker-navigation--nextMargin);
        z-index: 2;
        cursor: pointer;
      }

      &__navigation--next {
        background: map-get($datepicker-icons, next) no-repeat;
        right: map-get($datepicker-sizes, datepicker-navigation--nextMargin);
      }

      &__navigation--previous {
        background: map-get($datepicker-icons, prev) no-repeat;
        left: map-get($datepicker-sizes, datepicker-navigation--leftMargin);
      }

      &__month {
        .react-datepicker__week.react-datepicker__week {
          display: flex;

          .react-datepicker__day {
            width: map-get($datepicker-sizes, datepicker-dayWidth);
            height: map-get($datepicker-sizes, datepicker-dayHeight);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      // Theming
      @each $color in $base-colors {
        &__day-name {
          @include theme(color, datepicker-day-color--#{$color});
        }

        &__current-month {
          @include theme(color, datepicker-current-day--#{$color});
        }

        &__input-container input {
          @include theme(border, datepicker-input-border--#{$color}, solid 0.1rem);
        }

        &__day {
          &--outside-month {
            @include theme(color, datepicker-text-color--#{$color});
          }

          &--in-range,
          &--range-start,
          &--selecting-range-start,
          &--range-end,
          &--selecting-range-end,
          &--selecting-range-start,
          &--in-selecting-range {
            @include theme(background-color, datepicker-secondary-bg-color--#{$color});
            @include theme(color, datepicker-bg-color--#{$color});
          }

          &--range-start,
          &--selecting-range-start,
          &--range-end,
          &--selecting-range-end,
          &--selected {
            @include theme(background-color, datepicker-bg-color--#{$color});
            @include theme(color, datepicker-color--#{$color});
          }
        }

        &__month-container {
          @include theme(
            box-shadow,
            datepicker-box-shadow--#{$color},
            map-get($datepicker-sizes, datepicker-box-shadow)
          );
        }

        &__month {
          .react-datepicker__week.react-datepicker__week {
            .react-datepicker__day {
              &:hover {
                @include theme(background-color, datepicker-bg-color--#{$color});
                @include theme(color, datepicker-color--#{$color});
              }
            }
          }
        }
      }
    }
  }
}
