@mixin generate-datepicker-styles {
  .DatePicker {
    &--withTwoMonths {
      :global {
        .react-datepicker {
          min-width: getDatePickerSizes(datePicker-wrapper-two-month-min-width);
        }
        .react-datepicker__month-container:last-child {
          margin-left: getDatePickerSizes(datePicker-month-container--leftMargin);
        }
      }
    }

    :global {
      z-index: getDatePickerSizes(datePicker-z-index);
      .react-datepicker {
        @include theme(background-color, datepicker-color--primary);
        border-radius: getDatePickerSizes(datePicker-month-container--borderRadius);
        margin-top: getDatePickerSizes(datePicker-margin-top);
        padding: getDatePickerSizes(datePicker-padding);
        box-shadow: 3px 3px 6px 0 rgba(46, 46, 46, 0.1);
        width: getDatePickerSizes(datePicker-wrapper-width);
        min-height: getDatePickerSizes(datePicker-wrapper-min-heigh);
        padding-bottom: getDatePickerSizes(datePicker-wrapper-padding-bottom);
        min-height: getDatePickerSizes(datePicker-month-container-min-height);
        display: flex;
        &__navigation-icon--previous,
        &__navigation-icon--next {
          display: none;
        }
        &__navigation--next,
        &__navigation--previous {
          height: getDatePickerSizes(datePicker-navigation--nextSize-height);
          width: getDatePickerSizes(datePicker-navigation--nextSize);
          top: getDatePickerSizes(datePicker-navigation--nextSize-top);
          border: none;
          position: absolute;
          cursor: pointer;
          z-index: 2;
        }

        &__navigation--next {
          background: getDatePickerIcons(next) no-repeat;
          right: getDatePickerSizes(datePicker-navigation--nextMargin);
        }

        &__navigation--previous {
          background: getDatePickerIcons(prev) no-repeat;
          left: getDatePickerSizes(datePicker-navigation--leftMargin);
        }

        &__day--range-start,
        &__day--range-end {
          @include theme(color, datepicker-color--primary);
          @include theme(background-color, datepicker-day--primary);
        }
        &__day--in-range {
          @include theme(background-color, datepicker-day-selected-row--primary);
        }
        &__day--selecting-range-start {
          @include theme(background-color, datepicker-day--primary);
          border-radius: getDatePickerSizes(datePicker-month-container--borderRadius);
        }

        &__day--in-selecting-range {
          @include theme(background-color, datepicker-day-selected-row--primary);
          color: #3c54b2;
        }

        &__current-month {
          @include theme(color, datepicker-selected-days--primary);
          font-size: getDatePickerSizes(datePicker-month-title-font-size);
          margin: getDatePickerSizes(datePicker-month-title-padding);
          text-align: center;
          font-weight: 500;
        }
        &__navigation &__navigation--previous {
          position: absolute;
          cursor: pointer;
          visibility: hidden;
        }

        &__day-names {
          @include theme(color, datepicker-week-color--primary);
          font-size: getDatePickerSizes(datePicker-day--name);
          margin-bottom: getDatePickerSizes(datePicker-week-font-size);
          display: flex;
          justify-content: space-around;
          text-transform: uppercase;

          div {
            font-size: getDatePickerSizes(datePicker-week-name-font-size);
            min-width: getDatePickerSizes(datePicker-week-name-min-width);
            display: flex;
            justify-content: center;
          }
        }
        &__week:first-child {
          margin-top: 1rem;
        }
        &__week {
          color: #505d6e;
          margin-top: getDatePickerSizes(datePicker-navigation--nextSize);
          font-size: getDatePickerSizes(datePicker-month--size);
          margin-bottom: getDatePickerSizes(datePicker-weeks-margin-bottom);
          display: flex;
          justify-content: space-around;
          div {
            min-width: getDatePickerSizes(datePicker-day-width);
            padding: getDatePickerSizes(datePicker-day-padding);
            cursor: pointer;
            text-align: center;
          }
          .react-datepicker__day:hover {
            @include theme(color, datepicker-color--primary);
            @include theme(background-color, datepicker-day--primary);
            border-radius: getDatePickerSizes(datePicker-month-container--borderRadius);
          }
        }
        &__day--outside-month {
          visibility: hidden;
        }

        &__day--selecting-range-start,
        &__day--range-start,
        &__day--range-end {
          @include theme(color, datepicker-color--primary);
          @include theme(background-color, datepicker-day--primary);
          border-radius: getDatePickerSizes(datePicker-month-container--borderRadius);
          opacity: 1;
        }
      }
    }
  }
}
