$datepicker-sizes: (
  datepicker-margin-top: 0.8rem,
  datepicker-z-index: 1000,
  datepicker-box-shadow: 3px 3px 6px 0,
  input-container-width: 28rem,
  input-container-size: 1.4rem,
  input-container-padding: 0.9rem 1rem 1rem 1.6rem,
  input-height: 3.8rem,
  input-border-radius: 0.35rem,
  datepicker-icon-margin: 1rem,
  day-range--borderRadius: 0.5rem,
  datepicker-month--container: 28rem,
  datepicker-month--size: 1.8rem,
  datepicker-current--month: 2.2rem,
  datepicker-navigation--nextSize: 1.5rem,
  datepicker-navigation--nextMargin: 2.4rem,
  datepicker-navigation--leftMargin: 0.8rem,
  datepicker-day--names: 28rem,
  datepicker-day: 4.27rem,
  datepicker-day--name: 1rem,
  datepicker-dayWidth: 4rem,
  datepicker-dayHeight: 4rem,
  datepicker-day--namesPadding: 2.4rem,
  datepicker-day--nameWidth: 1.94rem,
  datepicker-day--nameMargin: 1.7rem,
  datepicker-day--namePadding: 3.67rem,
  datepicker-month-container--borderRadius: 0.4rem
);

$datepicker-icons: (
  next: url('../../../../icons/next.svg'),
  prev: url('../../../../icons/prev.svg')
);

$datepicker-colors: (
  datepicker-container-bg: color(white),
  datepicker-input-border--primary: color(stratos),
  datepicker-bg-color--primary: color(pelorous),
  datepicker-secondary-bg-color--primary: color(aqua-spring),
  datepicker-color--primary: color(white),
  datepicker-text-color--primary: color(gray),
  datepicker-day-color--primary: color(silver),
  datepicker-box-shadow--primary: color(carbon-fiber),
  datepicker-current-day--primary: color(oxford-blue)
);
