$datepicker-sizes: (
  datepicker-width: calculateRem(276px),
  datepicker-border-radius: calculateRem(4px),
  datepicker-min-height: calculateRem(322px),
  datepicker-shadow-sizes: 3px 3px 6px 0,
  datepicker-margin-top: calculateRem(8px),
  datepicker-input-space-left: calculateRem(10px),
  datepicker-input-space-top: calculateRem(53px),
  datepicker-padding: 0 calculateRem(16px) calculateRem(6px) calculateRem(16px),
  datepicker-navigation-height: calculateRem(12px),
  datepicker-navigation-width: calculateRem(6px),
  datepicker-navigation-top: calculateRem(36px),
  datepicker-navigation-margin: calculateRem(25px),
  //
  datePicker-month-container--borderRadius: 0.4rem,
  datePicker-wrapper-two-month-min-width: 58.5rem,
  datePicker-month-container--leftMargin: 2.5rem,
  datePicker-month-container-min-height: 32.2rem,
  datePicker-z-index: 1000,
  datePicker-wrapper-padding-bottom: 0.6rem,
  datePicker-month-title-font-size: 1.6rem,
  datePicker-month-title-padding: 2.4rem 0,
  datePicker-day--name: 1rem,
  datePicker-week-font-size: 0.9rem,
  datePicker-week-name-font-size: 1rem,
  datePicker-week-name-min-width: 4rem,
  datePicker-weeks-margin-bottom: 0.6rem,
  datePicker-month--size: 1.8rem,
  datePicker-day-width: 4rem,
  datePicker-day-padding: 0.9rem 0
);

@function getDatePickerSizes($property) {
  @return map-get($datepicker-sizes, $property);
}

$datepicker-colors: (
  datepicker-shadow-color: rgba(46, 46, 46, 0.1),
  //
  datepicker-container-bg: color(white),
  datepicker-input-border--primary: color(stratos),
  datepicker-bg-color--primary: color(pelorous),
  datepicker-secondary-bg-color--primary: color(aqua-spring),
  datepicker-color--primary: color(white),
  datepicker-text-color--primary: color(gray),
  datepicker-day-color--primary: color(silver),
  datepicker-box-shadow--primary: color(carbon-fiber),
  datepicker-current-day--primary: color(oxford-blue),
  datepicker-input-border--warning: color(stratos),
  datepicker-bg-color--warning: color(pelorous),
  datepicker-secondary-bg-color--warning: color(aqua-spring),
  datepicker-color--warning: color(white),
  datepicker-text-color--warning: color(gray),
  datepicker-day-color--warning: color(silver),
  datepicker-box-shadow--warning: color(carbon-fiber),
  datepicker-current-day--warning: color(oxford-blue),
  datepicker-input-border--danger: color(stratos),
  datepicker-bg-color--danger: color(pelorous),
  datepicker-secondary-bg-color--danger: color(aqua-spring),
  datepicker-color--danger: color(white),
  datepicker-text-color--danger: color(gray),
  datepicker-day-color--danger: color(silver),
  datepicker-box-shadow--danger: color(carbon-fiber),
  datepicker-current-day--danger: color(oxford-blue),
  datepicker-input-border--success: color(stratos),
  datepicker-bg-color--success: color(pelorous),
  datepicker-secondary-bg-color--success: color(aqua-spring),
  datepicker-color--success: color(white),
  datepicker-text-color--success: color(gray),
  datepicker-day-color--success: color(silver),
  datepicker-box-shadow--success: color(carbon-fiber),
  datepicker-current-day--success: color(oxford-blue),
  datepicker-day--primary: color(azure-approx),
  datepicker-day-selected-row--primary: color(azure-approx-opacity-10),
  datepicker-selected-days--primary: color(shuttl-gray),
  datepicker-week-color--primary: color(silver)
);

@function getDatePickerColors($property) {
  @return map-get($datepicker-colors, $property);
}
