$datepicker-sizes: (
  datepicker-margin-top: 0.8rem,
  datepicker-z-index: 1000,
  datepicker-box-shadow: 3px 3px 6px 0,
  input-container-width: 29.8rem,
  input-container-padding: 0.8rem,
  input-height: 3.8rem,
  input-border-radius: 0.35rem,
  datepicker-icon-margin: 1.2rem,
  day-range--borderRadius: 0.5rem,
  datepicker-month--container: 30.85rem,
  datepicker-month--size: 1.8rem,
  datepicker-current--month: 2.2rem,
  datepicker-navigation--nextSize: 0.6rem,
  datepicker-navigation--nextSize-height: 1.2rem,
  datepicker-navigation--nextSize-top: 3.6rem,
  datepicker-navigation--nextMargin: 2.5rem,
  datepicker-navigation--leftMargin: 2.5rem,
  datepicker-month-container--leftMargin: 2.5rem,
  datepicker-day--names: 29.89rem,
  datepicker-day: 4.27rem,
  datepicker-day--name: 1rem,
  datepicker-dayWidth: 4.27rem,
  datepicker-dayHeight: 3.97rem,
  datepicker-day--namesPadding: 2.4rem,
  datepicker-day--nameWidth: 1.94rem,
  datepicker-day--nameMargin: 1.7rem,
  datepicker-day--namePadding: 3.67rem,
  datepicker-month-container--borderRadius: 0.4rem,
  datepicker-padding: 0.65rem 1.6rem 1.4rem,
  datepicker-month-title-font-size: 1.6rem,
  datepicker-month-title-padding: 1.75rem 0 2.4rem 0,
  datepicker-week-font-size: 1.3rem,
  datepicker-day-width: 4rem,
  datepicker-day-padding: 1rem 0
);

$datepicker-icons: (
  next: url('../../../../icons/next.svg'),
  prev: url('../../../../icons/prev.svg')
);

$datepicker-colors: (
  datepicker-container-bg: color(white),
  datepicker-input-border--primary: color(stratos),
  datepicker-bg-color--primary: color(pelorous),
  datepicker-secondary-bg-color--primary: color(aqua-spring),
  datepicker-color--primary: color(white),
  datepicker-text-color--primary: color(gray),
  datepicker-day-color--primary: color(silver),
  datepicker-box-shadow--primary: color(carbon-fiber),
  datepicker-current-day--primary: color(oxford-blue),
  datepicker-day--primary: color(azure-approx),
  datepicker-day-selected-row--primary: color(azure-approx-opacity-10),
  datepicker-selected-days--primary: color(shuttl-gray),
  datepicker-week-color--primary: color(silver)
);
