$tablecell-sizes: (
  table-cell-font-size: calculateRem(14px),
  table-cell-font-weight-selected: 700,
  table-cell-font-weight: 300,
  table-cell-width: 20%,
  table-cell-margin: 0 calculateRem(16px),
  table-cell-img-width: calculateRem(24px),
  table-cell-img-height: calculateRem(24px),
  table-cell-img-border-radius: calculateRem(4px)
);

@function getTableCellSizes($property) {
  @return map-get($tablecell-sizes, $property);
}
