@mixin getDialogWithActionsStyles {
  .DialogHeaderWithClose {
    @include flex(space-between, center);

    .HeaderTitle {
      h3 {
        @include theme(color, dialog-dark-label-color);
        font-weight: normal;

        margin: 0;
      }
    }
  }

  .DialogContent {
    width: getDialogSizes(dialog-content-width);
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .DialogWithActionsDivider {
    margin: getDialogSizes(dialog-break-margin);
    width: 100%;
    @include theme(border, dialog-divider-color, solid 1px);
  }

  .DialogActions {
    @include flex(space-between, center);
    margin: getDialogSizes(dialog-actions-margin);
    .BtnsActions {
      @include flex();
      button {
        @include flex(null, center, $direction: column);
        span {
          @include theme(color, button-color);
        }
      }
      .BtnLabel {
        @include theme(color, dialog-dark-label-color);
        margin-top: getDialogSizes(btn-label-margin-top);
      }
    }
  }
}
