@mixin getDialogWithActionsStyles {
  .DialogHeaderWithClose {
    @include flex(space-between, center);

    .HeaderTitle {
      h3 {
        @include theme(color, dialog-dark-label-color);
        font-weight: normal;
      }
    }
  }
  .DialogContent {
    width: getDialogSizes(dialog-content-width);
    height: getDialogSizes(dialog-content-height);
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .DialogActions {
    @include flex(space-between, center);
    margin: getDialogSizes(dialog-actions-margin);
    .BtnsActions {
      @include flex();
      button {
        background-color: transparent;
        border: none;
        @include flex(null, center, $direction: column);
        @include theme(color, button-color);

        .BtnLabel {
          @include theme(color, dialog-dark-label-color);
          margin-top: getDialogSizes(btn-label-margin-top);
        }
      }
    }
  }
}
