$popup-sizes: (
  pop-up-width: calculateRem(388px),
  pop-up-height: calculateRem(356px),
  pop-up-border-radius: calculateRem(8px)
);

$popup-colors: (
  popup-overlay-bg: color(dark)
);

@function getPopUpSizes($property) {
  @return map-get($popup-sizes, $property);
}
