@mixin generate-tooltip-styles {
  .TooltipContainer {
    position: fixed;
    z-index: getTooltipSizes(tooltip-z-index);

    &.TooltipContainerClosed {
      z-index: -(getTooltipSizes(tooltip-z-index));
    }

    &--exitDone,
    & {
      .TooltipWrapper,
      .TooltipContainer {
        @include animation-exit;
      }
    }

    &--enterDone {
      .TooltipWrapper,
      .TooltipContainer {
        @include animation-start;
      }
    }

    .TooltipContainer {
      opacity: 0;
    }

    .TooltipWrapper {
      box-sizing: border-box;
      padding: getTooltipSizes(tooltip-wrapper-padding);
      border-radius: getTooltipSizes(tooltip-wrapper-border-radius);
      max-width: getTooltipSizes(tooltip-wrapper-max-width);
      min-width: getTooltipSizes(tooltip-wrapper-width);
      min-height: getTooltipSizes(tooltip-wrapper-height);
      width: fit-content;
      width: -moz-fit-content; //for Mozilla
      @include flex(center, center);
      text-align: left;
      word-break: break-all;
      position: relative;

      .TooltipTriangle {
        position: absolute;
      }

      .Tooltip-bottom {
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .Tooltip-left {
        transform: translate(0%, -50%) rotate(90deg);
        top: 50%;
        right: getTooltipSizes(tooltip-offset);

        .div {
          right: 0;
          transform: rotate(90deg);
        }
      }

      .Tooltip-top {
        left: 50%;
        transform: translate(-50%, 100%);
        bottom: getTooltipSizes(tooltip-triangle-position-top);

        div {
          transform: rotate(180deg);
        }
      }

      .Tooltip-right {
        transform: translate(0%, -50%) rotate(-90deg);
        left: getTooltipSizes(tooltip-offset);
        top: 50%;

        .div {
          transform: rotate(-90deg);
        }
      }
    }
  }

  @each $color in $base-colors {
    .TooltipColor--#{$color} {
      @include getTooltipStyles($color);
    }
  }
}
