@mixin generate-tooltip-styles {
  .TooltipContainer {
    position: relative;

    .TooltipWrapper {
      position: absolute;
      box-sizing: border-box;
      padding: getTooltipSizes(tooltip-wrapper-padding);
      border-radius: getTooltipSizes(tooltip-wrapper-border-radius);
      max-width: getTooltipSizes(tooltip-wrapper-max-width);
      min-width: getTooltipSizes(tooltip-wrapper-width);
      min-height: getTooltipSizes(tooltip-wrapper-height);
      width: fit-content;
      width: -moz-fit-content; //for Mozilla
      @include flex(center, center);
      text-align: left;
      word-break: break-all;

      .TooltipTriangle {
        position: absolute;
      }
    }
  }

  .Tooltip-top .TooltipTriangle {
    top: getTooltipSizes(tooltip-triangle-position-top);
  }

  .Tooltip-right .TooltipTriangle {
    right: getTooltipSizes(tooltip-triangle-position-top);
    transform: rotate(90deg);
  }

  .Tooltip-bottom .TooltipTriangle {
    bottom: getTooltipSizes(tooltip-triangle-position-bottom);
    transform: rotate(180deg);
  }

  .Tooltip-left .TooltipTriangle {
    left: getTooltipSizes(tooltip-triangle-position-left);
    transform: rotate(-90deg);
  }
  @each $color in $base-colors {
    .TooltipColor--#{$color} {
      @include getTooltipStyles($color);
    }
  }
}
