@mixin generate-tooltip-styles {
	.TooltipContainer {
		position: fixed;

		.TooltipWrapper {
			@include flex(center, center);

			border-radius: gettooltipsizes(tooltip-wrapper-border-radius);
			padding: gettooltipsizes(tooltip-wrapper-padding);
			width: fit-content;
			min-width: gettooltipsizes(tooltip-wrapper-width);
			min-height: gettooltipsizes(tooltip-wrapper-height);
			max-width: gettooltipsizes(tooltip-wrapper-max-width);
			box-sizing: border-box;
			word-break: break-all;
			text-align: left;

			.TooltipTriangle {
				position: absolute;
			}

			.Tooltip-bottom {
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.Tooltip-left {
				right: gettooltipsizes(tooltip-offset);
				top: 50%;
				transform: translate(0%, -50%) rotate(90deg);

				.div {
					right: 0;
					transform: rotate(90deg);
				}
			}

			.Tooltip-top {
				left: 50%;
				bottom: gettooltipsizes(tooltip-triangle-position-top);
				transform: translate(-50%, 100%);

				div {
					transform: rotate(180deg);
				}
			}

			.Tooltip-right {
				left: gettooltipsizes(tooltip-offset);
				top: 50%;
				transform: translate(0%, -50%) rotate(-90deg);

				.div {
					transform: rotate(-90deg);
				}
			}
		}
	}

	@each $color in $base-colors {
		.TooltipColor--#{$color} {
			@include getTooltipStyles($color);
		}
	}
}
