@mixin generate-tag-styles {
  .Tag {
    min-width: getTagSizes(tag-width);
    width: fit-content;
    width: -moz-fit-content; //for Mozilla
    height: getTagSizes(tag-height);
    padding: getTagSizes(tag-padding);
    border-radius: getTagSizes(tag-border-radius);
    box-sizing: border-box;
    @include theme(background-color, gray-color, $opacity: 0.1);
    @include flex(center, center);

    .TagText {
      @include theme(color, gray-color);
    }

    &--icon {
      padding-right: getTagSizes(tag-close-icon-padding-right);
      .IconContainer {
        width: getTagSizes(tag-icon-container-width);
        height: getTagSizes(tag-icon-container-height);
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    @each $color in $base-colors {
      &.Tag--#{$color} {
        .TagText {
          @include theme(color, #{$color});
        }

        @include theme(background-color, #{$color}, $opacity: 0.1);
      }
    }
  }

  .AlertClose {
    cursor: pointer;
    width: getTagSizes(alert-close-width) !important;
    margin-left: getTagSizes(alert-close-marginLeft);
    @include theme(fill, gray-color);
  }
}
