@mixin generate-tag-styles {
  .Tag {
    min-width: getTagSizes(tag-width);
    width: fit-content;
    width: -moz-fit-content; //for Mozilla
    height: getTagSizes(tag-height);
    padding: getTagSizes(tag-padding);
    border-radius: getTagSizes(tag-border-radius);
    box-sizing: border-box;
    @include theme(background-color, gray-color, $opacity: 0.1);
    @include flex(center, center);
    .TagText {
      @include theme(color, gray-color);
      margin-left: getTagSizes(end-icon-marginLeft);
    }
    &--icon {
      padding-right: getTagSizes(tag-close-icon-padding-right);
      .IconContainer {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        svg {
          width: 1rem;
        }
      }
    }
    &--showCloseOnHover {
      position: relative;
      padding: 0 calculateRem(26px);
      min-width: initial;
      border: calculateRem(1px) solid transparent;
      transition: border 0.3s;
      .IconContainer {
        opacity: 0;
        padding-right: 0;
        position: absolute;
        right: calculateRem(12px);
        transition: opacity 0.3s;
      }
      .TagText {
        margin-left: 0;
      }
      &:hover .IconContainer {
        opacity: 1;
      }
    }
    .StartComponent {
      border-radius: 50%;
      background-color: #e0e1ee;
      height: 23px;
      width: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }
    @each $color in $base-colors {
      &.Tag--#{$color} {
        .TagText {
          @include theme(color, #{$color});
        }
        @include theme(background-color, #{$color}, $opacity: 0.1);
        &.Tag--showCloseOnHover {
          &:hover {
            @include theme(border-color, #{$color});
          }
          svg {
            @include theme(fill, #{$color});
          }
        }
      }
    }
  }
  .AlertClose {
    cursor: pointer;
    margin-left: getTagSizes(alert-close-marginLeft);
    // width: getTagSizes(alert-close-width);
    @include theme(fill, gray-color);
  }
  .EndIcon {
    cursor: pointer;
    // border: 2px solid red;
    margin-right: getTagSizes(end-icon-marginLeft);
    padding-left: getTagSizes(end-icon-paddingLeft);
    svg {
      width: getTagSizes(end-icon-size) !important;
      fill: #6667ab;
    }
    // width: getTagSizes(alert-close-width);
    @include theme(fill, gray-color);
  }
}
