@mixin generate-popover-styles {
  .FullWidthHeightLayer {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .CardWrapper {
    position: relative;
    height: 100%;
  }

  .CardBase {
    box-sizing: border-box;
    overflow: auto;
    z-index: 2;
    position: absolute;
    padding: calculateRem(24px);
    background-color: #fff;
    border-radius: calculateRem(15px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }
}
