@mixin stylize-datepicker {
  :global {
    .react-datepicker {
      display: flex;

      &__navigation-icon--previous,
      &__navigation-icon--next {
        display: none;
      }

      &__input-container {
        width: map-get($datepicker-sizes, input-container-width);
        position: relative;

        input {
          width: 100%;
          height: map-get($datepicker-sizes, input-height);

          outline: none;

          @include theme(border, datepicker-input-border--primary, solid 0.1rem);

          border-radius: map-get($datepicker-sizes, input-border-radius);
          padding-left: map-get($datepicker-sizes, input-container-padding);
        }

        svg {
          position: absolute;
          right: map-get($datepicker-sizes, datepicker-icon-margin);
          top: map-get($datepicker-sizes, datepicker-icon-margin);
        }
      }

      &__day {
        &--today {
          @include theme(background-color, datepicker-bg-color--primary);
        }

        &--in-range,
        &--range-start,
        &--selecting-range-start,
        &--range-end,
        &--selecting-range-end,
        &--selecting-range-start {
          @include theme(background-color, datepicker-day-bg-inRange--primary);
          @include theme(color, datepicker-bg-color--primary);
        }

        &--range-start,
        &--selecting-range-start {
          border-bottom-left-radius: map-get($datepicker-sizes, day-range--borderRadius);
          border-top-left-radius: map-get($datepicker-sizes, day-range--borderRadius);
        }

        &--range-end,
        &--selecting-range-end {
          border-bottom-right-radius: map-get($datepicker-sizes, day-range--borderRadius);
          border-top-right-radius: map-get($datepicker-sizes, day-range--borderRadius);
        }

        &--outside-month {
          @include theme(color, datepicker-day-outsideMonth-color--primary);
        }

        &--in-selecting-range {
          @include theme(background-color, datepicker-day-in-selectingRange-bg--primary);
          @include theme(color, datepicker-bg-color--primary);
        }

        &-names {
          &::before {
            @include theme(border, datepicker-dividerColor--primary, solid 0.1rem);
          }

          .react-datepicker__day-name {
            @include theme(color, datepicker-dayName--primary);
          }
        }

        &-names {
          display: flex;
          justify-content: space-around;
          width: map-get($datepicker-sizes, datepicker-day--names);
          padding-top: map-get($datepicker-sizes, datepicker-day--namesPadding);

          &::before {
            content: '';
            position: absolute;
            width: 100%;
          }

          .react-datepicker__day-name {
            width: map-get($datepicker-sizes, datepicker-day--nameWidth);
            margin-bottom: map-get($datepicker-sizes, datepicker-day--nameMargin);
            padding-top: map-get($datepicker-sizes, datepicker-day--namePadding);
          }
        }
      }

      &__month-container {
        @include theme(border, datepicker-month-container-borderColor--primary, solid 0.1rem);
      }

      &__month-container {
        background-color: transparent;
        border-radius: map-get($datepicker-sizes, datepicker-month-container--borderRadius);
        width: map-get($datepicker-sizes, datepicker-month--container);
        font-size: map-get($datepicker-sizes, datepicker-month--size);
      }

      &__header {
        position: relative;

        .react-datepicker__current-month {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: map-get($datepicker-sizes, datepicker-current--month);
        }
      }

      &__navigation--next,
      &__navigation--previous {
        width: map-get($datepicker-sizes, datepicker-navigation--nextSize);
        height: map-get($datepicker-sizes, datepicker-navigation--nextSize);
        border: none;
        position: absolute;
        top: map-get($datepicker-sizes, datepicker-navigation--nextMargin);
        z-index: 2;
        cursor: pointer;
      }

      &__navigation--next {
        background: url('../../icons/next.svg') no-repeat;
        right: map-get($datepicker-sizes, datepicker-navigation--nextMargin);
      }

      &__navigation--previous {
        background: url('../../icons/left-arrow.svg') no-repeat;
        left: map-get($datepicker-sizes, datepicker-navigation--nextMargin);
      }

      &__month {
        .react-datepicker__week.react-datepicker__week {
          display: flex;
          .react-datepicker__day {
            width: map-get($datepicker-sizes, datepicker-dayWidth);
            height: map-get($datepicker-sizes, datepicker-dayHeight);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              @include theme(background-color, datepicker-bg-color--primary);
              @include theme(color, datepicker-color--primary);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
