@mixin generate-badge-styles {
  .BadgeContainer {
    position: relative;
    width: getBadgeSizes(badge-width);
    height: getBadgeSizes(badge-height);

    .BadgeNumber {
      position: absolute;
      top: getBadgeSizes(badge-number-position-top);
      left: getBadgeSizes(badge-number-position-left);
      @include flex(center, center);
      @include theme(color, badge-number-color);
      font-weight: getBadgeSizes(badge-number-fontWeight);
      border-radius: getBadgeSizes(badge-number-borderRadius);
      transition: width getBadgeSizes(badge-transition) ease-in-out;

      &:hover {
        transition: getBadgeSizes(badge-transition) ease-in-out;
        width: getBadgeSizes(badge-hover-width);
        cursor: pointer;
      }
    }

    .BandgeNumberThreeNumbers {
      width: getBadgeSizes(badge-three-numbers-width);
      height: getBadgeSizes(badge-three-numbers-height);
      border-radius: getBadgeSizes(badge-three-numbers-border-radius);
      &:hover {
        transition: width getBadgeSizes(badge-transition) ease-in-out;
        width: getBadgeSizes(badge-hover-width);
        cursor: pointer;
      }
    }

    .BandgeNumbers {
      width: getBadgeSizes(badge-three-numbers-width);
      height: getBadgeSizes(badge-three-numbers-height);
      border-radius: getBadgeSizes(badge-three-numbers-border-radius);
      &:hover {
        transition: width getBadgeSizes(badge-transition) ease-in-out;
        width: getBadgeSizes(badge-hover-width);
        cursor: pointer;
      }
    }

    .BadgeNumberMs {
      width: getBadgeSizes(badge-number-sizes);
      height: getBadgeSizes(badge-number-sizes);
      font-size: getBadgeSizes(badge-number-size-ms);
    }

    .BadgeNumberSs {
      width: getBadgeSizes(badge-number-width-ss);
      height: getBadgeSizes(badge-number-height-ss);
      font-size: getBadgeSizes(badge-number-size-ss);
    }

    @each $color in $base-colors {
      .BadgeNumber--#{$color} {
        @include theme(background-color, #{$color});
      }
    }
  }
}
