@mixin generate-badge-styles {
  .BadgeContainer {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    .BadgeNumber {
      position: absolute;
      top: -0.3rem;
      left: 1.18rem;
      width: 2.22rem;
      height: 2.22rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3c54b2;
      color: white;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 100%;
    }
  }
}
