@mixin generate-select-styles {
  :global {
    width: 28rem;
    box-sizing: border-box;
    position: relative;

    .react-select {
      &__indicator {
        color: #00194c;
        margin: 1rem 1.2rem 2rem;
        position: absolute;
        top: 0;
        right: 0;
      }
      &__single-value {
        font-size: 1.4rem;
        margin: 0rem 1.6rem 0.9rem;
      }

      &__menu {
        position: absolute;
        z-index: 9999;
        top: 4.73rem;
        width: 28rem;
        max-height: 32rem;
        min-height: 9.6rem;
        background-color: #ffffff;
        box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
        border-radius: 0.8rem;
        box-sizing: border-box;
      }

      &__menu-list {
        width: 28rem;
        background-color: #ffffff;
        max-height: 28.8rem;
        overflow: hidden;
        overflow-y: auto;
        border-radius: 0.8rem;

        &::-webkit-scrollbar {
          width: 0.4rem;
        }
        &::-webkit-scrollbar-track {
          background-color: #e8edf3;
          border-radius: 0.8rem;
          margin-bottom: 0.4rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #8ea6c1;
          border-radius: 0.8rem;
          min-height: 4rem;
          max-height: 4rem;
        }

        div:last-child {
          div {
            height: 3.2rem;
            border-bottom: none;
          }
        }
      }

      &__menu-list--is-multi {
        max-height: 32rem;
        scrollbar-color: #8ea6c1 #e8edf3;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 0.4rem;
        }
        &::-webkit-scrollbar-track {
          background-color: #e8edf3;
          border-radius: 0.8rem;
          margin-bottom: 3.2rem;
          margin-top: 3.2rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #8ea6c1;
          border-radius: 0.8rem;
          min-height: 4rem;
          max-height: 4rem;
        }
      }

      &__option {
        height: 3.1rem;
        border-bottom: solid 1px #f9f9f9;
        display: flex;
        align-items: center;

        &:hover {
          margin: 0;
          background-color: rgba(60, 84, 178, 0.1);
        }

        label {
          height: 1.7rem;
          display: flex;
          align-items: center;
          margin-left: 0.4rem;
          font-size: 1.4rem;
          color: #505d6e;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        }
        span {
          height: 1.7rem;
          margin-left: 1.2rem;
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          color: #505d6e;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        }

        label,
        span {
          word-break: break-all;
          width: 14rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      &__value-container {
        display: flex;
        position: absolute;
        top: 0;
        margin: 10px 5px 10px 10px;
      }
      &__multi-value {
        margin-left: 5px;
        font-size: 1.4rem;
        background: gray;
        display: flex;
      }

      &__menu-notice {
        padding: 22px 235.6px 21.3px 17.6px;
        width: 100%;
        font-size: 1.4rem;
      }

      &__input {
        font-size: 1.4rem !important;
      }
    }
  }
}

@mixin generate-full-width-select-styles {
  :global {
    width: 100%;

    .react-select {
      &__menu {
        width: 100%;
      }

      &__menu-list {
        width: calc(100% - 0.8rem);
      }
    }
  }
}

@mixin generate-dropdown-select-styles {
  position: relative;
  :global {
    .react-select__menu {
      top: 2.8rem;
      width: 19.2rem;
      max-height: 35.3rem;
      min-height: 9.6rem;
      box-sizing: border-box;

      .react-select__menu-list {
        margin-top: 3.2rem;
        width: 19.2rem;
        max-height: 32.1rem;
        min-height: 9.6rem;
        border-radius: 0 0 0.8rem 0.8rem;

        .react-select__option {
          width: 18.4rem;
          margin: 0 0.4rem;
          span,
          label {
            height: 1.7rem;
          }

          &:hover {
            width: 19.2rem;
            margin: 0;

            &:first-child {
              border-radius: none;
            }

            div {
              margin-left: 0.4rem;
            }
          }
        }
      }
    }
  }
}

@mixin generate-with-clear-select-styles {
  :global {
    .react-select {
      &__menu-list {
        padding-bottom: 3.2rem;
        box-sizing: border-box;
      }
    }
  }
}
