@mixin generate-checkbox-card-styles {
  .CheckboxCardList {
    @include flex($flex-wrap: wrap);
  }

  .CheckboxCard {
    $block: &;
    padding: getCheckboxCardSizes(checkbox-card-padding);
    word-break: break-word;
    border-radius: getCheckboxCardSizes(checkbox-card-border-radius);
    width: getCheckboxCardSizes(checkbox-card-width);
    min-height: getCheckboxCardSizes(checkbox-card-height);
    margin-right: getCheckboxCardSizes(checkbox-card-margin-right);
    font-size: getCheckboxCardSizes(checkbox-card-font-size);
    box-sizing: border-box;
    cursor: pointer;
    transition: border 0.12s linear, background 0.12s linear, opacity 0.12s linear;
    will-change: background, border, opacity;
    @include flex(center, center);
    @include theme(border, primary, solid 1px, $opacity: 0.1);

    &:last-child {
      margin-right: 0;
    }

    &--selected {
      cursor: getCheckboxCardSizes(checkbox-card-cursor-pointer);
    }

    &--disable {
      cursor: default;
      opacity: getCheckboxCardSizes(checkbox-card-opacity--disable);
    }

    &__Label {
      text-align: center;
      font-size: getCheckboxCardSizes(checkbox-card-label-font-size);
      line-height: getCheckboxCardSizes(checkbox-card-label-line-height);
      font-family: inherit;
      padding-top: getCheckboxCardSizes(checkbox-card-label-padding-top);
      display: inline-block;
      @include theme(color, gray-color);
    }

    &__ElementsGroup {
      @include flex($justify-content: center, $flex-wrap: wrap);
      #{$block}__Label {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }

  @each $color in $base-colors {
    .CheckboxCard--#{$color} {
      @include theme(background, $color, $opacity: 0.1);
      @include theme(border, $color, solid 1px);
    }
  }
}
