$checkbox-card-sizes: (
  checkbox-card-list-max-width: calculateRem(382px),
  //
  checkbox-card-border-radius: calculateRem(4px),
  checkbox-card-width: calculateRem(82px),
  checkbox-card-height: calculateRem(82px),
  checkbox-card-cursor-pointer: pointer,
  checkbox-card-margin-right: calculateRem(16px),
  checkbox-card-margin-bottom: calculateRem(16px),
  checkbox-card-font-size: calculateRem(14px),
  checkbox-card-opacity--selected-disable: 0.5,
  checkbox-card-opacity--disable: 0.5,
  //
  checkbox-card-label-font-size: calculateRem(14px),
  checkbox-card-label-line-height: calculateRem(17px),
  checkbox-card-label-padding-top: calculateRem(8px),
  //
);

@function getCheckboxCardSizes($property) {
  @return map-get($checkbox-card-sizes, $property);
}

$checkbox-card-colors: (
  // checkbox-card-bg-color--selected: color(cold-purple-opacity-10),
  // checkbox-card-border-color--selected: color(night-in-manchester),
  // //
  // checkbox-card-bg-color--selected-disable: color(night-in-manchester-opacity-10),
  // checkbox-card-border-color--selected-disable: color(night-in-manchester),
  // //
  // checkbox-card-border-color--disable: color(athens-gray),
  // //
  // checkbox-card-border-color--active: color(athens-gray),
  // //
  // checkbox-card-label-color: color(nepal-2)
  // checkbox-card-border-color--selected: color(night-in-manchester-opacity-10),
  // checkbox-card-border-color: color(gray-color),
  checkbox-card-border-color: color(night-in-manchester-opacity-10),
  checkbox-card-label-color: color(nepal-2)
);
