@mixin generate-button-styles {
  .ButtonBase {
    @include center-flex();

    height: getButtonSizes(button-height);

    padding: getButtonSizes(button-padding);
    border-radius: getButtonSizes(button-border-radius);
    font-size: getButtonSizes(button-font-size);

    // Reset
    font-family: inherit;
    border: none;
    cursor: pointer;
  }

  .startIcon,
  .endIcon {
    height: 100%;
  }

  .startIcon {
    transform: translateX(-(getButtonSizes(icon-margin)));
  }

  .endIcon {
    transform: translateX(getButtonSizes(icon-margin));
  }

  @each $color in $base-colors {
    .ButtonColor--#{$color} {
      @include getButtonStyles($color);

      &.ButtonVariant--#{$color}__ghost {
        border-style: solid;
        border-width: getButtonSizes(button-border-width);

        @include getButtonGhostStyles($color);
      }
    }
  }
}
