$button-sizes: (
  button-font-size: calculateRem(16px),
  button-height: calculateRem(38px),
  button-padding: calculateRem(8px) calculateRem(42px) calculateRem(9px),
  button-border-radius: calculateRem(4px),
  icon-margin: calculateRem(10px),
  button-border-width: calculateRem(1px)
);

@function getButtonSizes($property) {
  @return map-get($button-sizes, $property);
}

$button-colors: ();
