@mixin generate-sub-menu-items-styles {
  .SubMenuItemsBase {
    box-sizing: border-box;
    width: getSubMenuItemSizes(sidebar-sub-menu-item-width);
    font-family: $base-font-family;
    font-weight: getSubMenuItemSizes(sidebar-sub-menu-item-font-weight);
    line-height: getSubMenuItemSizes(sidebar-sub-menu-item-line-height);
    font-size: getSubMenuItemSizes(sidebar-sub-menu-item-font-size);
    @include theme(color, sub-menu-items-base-colors);
    height: getSubMenuItemSizes(sidebar-sub-menu-item-height);
    text-align: left;
    padding: getSubMenuItemSizes(sidebar-sub-menu-item-padding);
    @include flex(null, center);

    a {
      @include dots-after-text;
      @include flex(null, center);
      width: 100%;
      height: 100%;
      font-size: getSubMenuItemSizes(sub-menu-items-font-size);
    }

    &:hover,
    &--active {
      height: getSubMenuItemSizes(sidebar-sub-menu-item-hover-height);
      border-radius: getSubMenuItemSizes(sidebar-sub-menu-item-hover-borderRadius);
      @include theme(background-color, sub-menu-items-base-colors-hover);
      @include theme(color, primary);
      font-weight: getSubMenuItemSizes(sidebar-sub-menu-item-hover-font-weight);
      line-height: getSubMenuItemSizes(sidebar-sub-menu-item-line-height-hover);
      cursor: pointer;
    }

    .SubMenuItemsIcon {
      @include flex(null, center);
      margin-left: getSubMenuItemSizes(sub-menu-items-icon-marginLeft);

      svg {
        width: getSubMenuItemSizes(sub-menu-items-iconWidth);
        // height: getSubMenuItemSizes(sub-menu-items-iconHeight);
        fill: currentColor;
      }
    }
  }
}
