@mixin generate-sub-menu-items-styles {
  .SubMenuItemsBase {
    box-sizing: border-box;
    width: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-width);
    font-family: $base-font-family;
    font-weight: 500;
    line-height: 1.6rem;
    font-size: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-font-size);
    color: #95acc5;
    height: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-height);
    text-align: left;
    padding: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-padding);
    display: flex;
    align-items: center;
    opacity: 0.7;

    &:last-child {
      margin-bottom: 0.4rem;
    }

    &:hover {
      height: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-hover-height);
      border-radius: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-hover-borderRadius);
      background-color: rgba(60, 84, 178, 0.1);
      color: #3c54b2;
      font-weight: map-get($sidebar-sub-menu-item-sizes, sidebar-sub-menu-item-hover-font-weight);
      line-height: 2.4rem;
      cursor: pointer;
      opacity: 1;
    }
    .SubMenuItemsIcon {
      display: flex;
      align-items: center;
      margin-left: map-get($sidebar-sub-menu-item-sizes, sub-menu-items-icon-marginLeft);

      svg {
        width: map-get($sidebar-sub-menu-item-sizes, sub-menu-items-iconWidth);
        height: map-get($sidebar-sub-menu-item-sizes, sub-menu-items-iconHeight);
      }
    }
  }
}
