$sidebar-sub-menu-item-sizes: (
  sidebar-sub-menu-item-width: calculateRem(173px),
  sidebar-sub-menu-item-height: calculateRem(31px),
  sidebar-sub-menu-item-font-size: calculateRem(12px),
  sidebar-sub-menu-item-padding: 0 0 0 calculateRem(28px),
  sidebar-sub-menu-item-font-weight: 500,
  sidebar-sub-menu-item-line-height: calculateRem(16px),
  sidebar-sub-menu-item-line-height-hover: calculateRem(24px),
  sub-menu-items-iconWidth: calculateRem(24px),
  sub-menu-items-iconHeight: calculateRem(24px),
  sub-menu-items-icon-marginLeft: calculateRem(-8px),
  //hover
  sidebar-sub-menu-item-hover-height: calculateRem(31px),
  sidebar-sub-menu-item-hover-borderRadius: 8px,
  sidebar-sub-menu-item-hover-font-weight: 500
);

$sidebar-sub-menu-item-colors: (
  sub-menu-items-base-colors: color(nepal),
  sub-menu-items-base-colors-hover: color(selago)
);

@function getSubMenuItemSizes($property) {
  @return map-get($sidebar-sub-menu-item-sizes, $property);
}
