@mixin generate-stepper-styles {
  .SteeperWrapper {
    @include flex(null, start, row);

    .Stepper {
      position: relative;
      flex: 1;
      .StepperLineContainer {
        flex: 1 1 auto;
        position: absolute;
        top: getStepperSizes(stepper-line-container-position-top);
        left: calc(-50%);
        right: calc(50%);
        .StepperLine {
          @include theme(background-color, primary);
          height: getStepperSizes(stepper-line-height);
          border: 0;
          display: block;
        }
      }
      .StepperContainer {
        @include flex(null, center, column);

        .Step {
          flex-shrink: 0;
          @include flex();

          .StepSection {
            @include theme(background-color, primary);
            @include flex(center, center);
            width: getStepperSizes(step-section-width);
            height: getStepperSizes(step-section-height);
            padding: getStepperSizes(step-section-padding);
            box-sizing: border-box;
            z-index: getBaseSizes(z-index);
            border-radius: getStepperSizes(step-section-border-radius);
          }
        }
        .StepTextContainer {
          width: getStepperSizes(step-text-container);
          word-break: break-all;
          @include theme(color, primary);
          .StepText {
            margin-top: getStepperSizes(step-text-margin);
            text-align: center;
            display: block;
          }
        }
        .StepTextInactive {
          @include theme(opacity, disabled-opacity);
        }
      }
    }

    .StepperChecked {
      .StepperInactive {
        background-color: transparent !important;
      }
    }
    .StepperLineInactive {
      @include theme(opacity, disabled-opacity);
    }
  }
}
