$stepper-sizes: (
  stepper-line-container-position-top: calculateRem(14px),
  stepper-line-height: calculateRem(1px),
  step-section-width: calculateRem(29px),
  step-section-height: calculateRem(29px),
  step-section-padding: calculateRem(10px) calculateRem(9px),
  step-section-border-radius: 50%,
  step-text-margin: calculateRem(9px),
  step-text-container: calculateRem(120px),
  stepper-flex: 1,
  stepper-flex-line-container: 1 1
);

$stepper-colors: ();

@function getStepperSizes($property) {
  @return map-get($stepper-sizes, $property);
}
