@mixin generate-subTab-styles {
  .SubTab {
    @include flex;
    .SubTabWrapper {
      min-width: getTabSizes(sub-tab-wrapper-width);
      height: getTabSizes(sub-tab-wrapper-height);
      width: fit-content;
      width: -moz-fit-content;
      box-sizing: border-box;
      display: flex;
      position: relative;
      margin-right: getTabSizes(sub-tabs-margin-right);
      .BadgeWrapper {
        position: absolute;
        width: 100%;
        div {
          position: absolute;
          right: 0;
          top: getTabSizes(sub-tabs-badge-top);
        }
      }
      button {
        background-color: transparent;
        width: 100%;
        border-radius: getTabSizes(sub-tabs-button-border-radius);
        padding: getTabSizes(sub-tabs-button-padding);
        font-size: getTabSizes(sub-tabs-button-font-size);
        @include theme(border, black-color, solid 0.1rem);
        @include theme(color, black-color);
        cursor: pointer;
        text-transform: capitalize;

        &:hover {
          @include theme(background-color, primary--lighter);
          @include theme(color, primary);
          @include theme(border-color, primary);
        }
        &.Selected {
          @include theme(background-color, primary--lighter);
          @include theme(color, primary);
          @include theme(border-color, primary);
        }
      }
    }
  }
}
