$subTab-sizes: (
  sub-tab-wrapper-width: calculateRem(71px),
  sub-tab-wrapper-height: calculateRem(32px),
  sub-tabs-button-border-radius: calculateRem(18px),
  sub-tabs-button-padding: calculateRem(8px) calculateRem(16px),
  sub-tabs-button-font-size: calculateRem(14px),
  sub-tabs-badge-top: calculateRem(-5px)
);

@function getTabSizes($property) {
  @return map-get($subTab-sizes, $property);
}
