@mixin generate-select-tree-styles {
  // .Select-Tree--Main:first-child {

  // .Select-Tree-List {
  //   & > ul {
  //     border: solid brown 2px !important;
  //   }
  // }

  .Select {
    position: relative;
    // &-Tree-List__Item-Parent {
    //   border: solid yellow 2px !important;
    // }

    &-Parent {
      & > span {
        padding-right: 40px;
      }
    }

    &-Tree {
      display: block;
      padding-right: 10px;
      padding-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      cursor: default;

      > ul:nth-child(1) {
        > li.Select-Tree-List__Item:nth-child(1) {
          &::before {
            display: none;
          }
        }
      }

      .Select-Tree-List__Item-Chain {
        display: none;
      }

      .Select-Tree {
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;

        .Select-Tree-List__Item-Chain {
          display: block;
        }

        ul:nth-child(1) {
          li.Select-Tree-List__Item:nth-child(1) {
            &::before {
              display: block;
            }
          }
        }
      }

      ul {
        li {
          // cursor: pointer;

          i.Select-Tree-List__Item-Number {
            transition: opacity 0.16s linear;
            will-change: opacity;
          }

          span.Select-Tree-List__Item-Label-Inner {
            transition: color 0.16s linear;
            will-change: color;
          }

          span.Select-Tree-List__Item-Inner:hover {
            span.Select-Tree-List__Item-Label-Inner {
              color: #1ea7fd;
            }

            i.Select-Tree-List__Item-Number {
              opacity: 1;
            }
          }
        }

        ul {
          padding-top: 3px;
        }
      }
    }

    &-Tree-List {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      box-sizing: border-box;
    }

    &-Tree-List__Item {
      position: relative;
      top: 0;
      z-index: 10;
      display: flex;
      flex-wrap: wrap;
      padding: 8px 0 0 12px;
      width: 100%;
      min-height: 31px;
      box-sizing: border-box;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0;
      text-align: left;
      color: #505d6e;
      opacity: 1;
      transition: all 0.16s linear;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 280px;
        height: 1px;
        background: #f4f5f8;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        display: block;
        width: 280px;
        height: 31px;
        background: #f4f5f8;
        opacity: 0;
        transition: opacity 0.16s linear;
        will-change: opacity;
      }

      &-Parent {
        & > span {
          padding-right: 40px;
        }
      }

      ul {
        padding-top: 6px;

        li {
          position: relative;
          left: 0;
          top: 0;
        }

        li:last-child {
          .Select-Tree-List__Item-Chain {
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              width: 1px;
              height: 16px;
              background: #f4f5fa;
            }
          }
        }
      }

      &:hover::after {
        opacity: 0.4;
      }
    }

    &-Tree-List__Item-Chain {
      position: absolute;
      left: -3px;
      top: 0;
      display: block;
      width: 15px;
      height: 31px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 1px;
        height: 31px;
        background: #f4f5fa;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 11px;
        height: 1px;
        background: #f4f5fa;
      }
    }

    &-Tree-List__Item-Inner {
      display: flex;
      overflow: hidden;
      width: 86%;
    }

    &-Tree-List__Item-Arrow {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 31px;
      height: 31px;
      transition: background 0.16s linear;
      will-change: background;

      &,
      svg {
        cursor: pointer;
      }

      svg {
        fill: #8ea6c1;
      }

      &:hover {
        background: rgba(#f4f5f8, 1);
      }
    }

    &-Tree-List__Item-Number {
      display: inline-block;
      list-style: normal;
      margin-left: 3px;
      font-style: normal;
      font-size: 12px;
      color: #505d6e;
      opacity: 0.5;
      white-space: nowrap;
    }

    &-Tree-List__Item-Label {
      display: inline-block;
      overflow: hidden;
    }

    &-Tree-List__Item-Label-Inner {
      display: block;
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    // TREE END
  }
}
