@mixin generate-text-input-styles {
  // .TextInputWrapper {
  //   width: map-get($base-text-field-sizes, width);
  //   position: relative;

  //   &--full-width,
  //   & .TextInputBase {
  //     width: 100%;
  //     height: 3.8rem;

  //     .TextInputWrapper {
  //       font-size: 1.4rem;
  //     }
  //     &:focus,
  //     &--filled {
  //       border: solid 0.1rem #00194c;
  //       border-top: 0;
  //       box-shadow: none;

  //       + .TextInputWrapper {
  //         line-height: 1.3em;
  //         font-size: 1.2rem;
  //       }
  //     }
  //   }

  //   .Explanation {
  //     display: block;

  //     margin-top: map-get($base-text-field-sizes, explanation-margin);

  //     @include theme(color, input-color);
  //   }

  //   @each $state in $input-states {
  //     &--#{$state} {
  //       .TextInputBase {
  //         @include theme(background-color, input-hover-bg);

  //         &,
  //         &:hover,
  //         &:focus {
  //           @include generateBorderWithBoxShadow(input-border-color--#{$state});
  //           @include theme(color, input-color--#{$state});
  //         }

  //         &::placeholder {
  //           @include theme(color, input-color--#{$state});
  //         }

  //         &:disabled,
  //         &:disabled:hover {
  //           box-shadow: none;

  //           @include theme(color, input-color);
  //           @include theme(background-color, input-bg-disabled);
  //         }
  //       }

  //       .Explanation {
  //         @include theme(color, input-color--#{$state});
  //       }
  //     }
  //   }

  //   &--disabled .Explanation {
  //     @include theme(color, input-color);
  //   }

  //   .TextInputWrapper {
  //     position: absolute;
  //     width: 100%;
  //     left: 0;
  //     top: 0;
  //     font-size: 1.4rem;
  //     transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  //     height: 1.2rem;

  //     &:after {
  //       content: '';
  //       display: block;
  //       box-sizing: border-box;
  //       margin-top: 6px;
  //       border-top: solid 1px;
  //       border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  //       min-width: 20px;
  //       height: 8px;
  //       pointer-events: none;
  //       box-shadow: inset 0 1px transparent;
  //       transition: border-color 0.2s, box-shadow 0.2s;

  //       flex-grow: 1;
  //   margin-left: 4px;
  //   border-right: solid 1px transparent;
  //   border-radius: 0 4px;
  //     }
  //     &::before {
  //       content: '';
  //       display: block;
  //       box-sizing: border-box;
  //       margin-top: 6px;
  //       border-top: solid 1px;
  //       border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  //       min-width: 20px;
  //       height: 8px;
  //       pointer-events: none;
  //       box-shadow: inset 0 1px transparent;
  //       transition: border-color 0.2s, box-shadow 0.2s;

  //       margin-right: 4px;
  //       border-left: solid 1px transparent;
  //       border-radius: 4px 0;
  //     }
  //   }
  // }

  // .startIcon,
  // .endIcon {
  //   position: absolute;
  //   top: map-get($base-text-field-sizes, icon-margin);
  // }

  // .startIcon {
  //   left: map-get($base-text-field-sizes, icon-margin);
  // }

  // .endIcon {
  //   right: map-get($base-text-field-sizes, icon-margin);
  // }

  // .TextInputBase {
  //   width: map-get($base-text-field-sizes, width);
  //   padding: map-get($base-text-field-sizes, padding);

  //   font-size: map-get($base-text-field-sizes, font-size);
  //   border-radius: map-get($base-text-field-sizes, border-radius);

  //   box-sizing: border-box;
  //   outline: none;
  //   border: none;

  //   @include theme(background-color, input-bg);
  //   @include theme(color, input-color);

  //   &::placeholder {
  //     @include theme(color, input-placeholder-color);
  //   }

  //   &:hover,
  //   &:focus {
  //     @include theme(background-color, input-hover-bg);
  //     @include generateBorderWithBoxShadow(input-hover-border-color);
  //   }

  //   &--filled,
  //   &--filled:hover,
  //   &--filled:focus {
  //     @include theme(background-color, input-hover-bg);
  //     @include generateBorderWithBoxShadow(input-filled-border-color);
  //   }

  //   &--start-icon {
  //     padding-left: map-get($base-text-field-sizes, input-adornment);
  //   }

  //   &--end-icon {
  //     padding-right: map-get($base-text-field-sizes, input-adornment);
  //   }

  //   &:disabled,
  //   &:disabled:hover {
  //     box-shadow: none;

  //     @include theme(background-color, input-bg-disabled);
  //   }
  // }

  .startIcon,
  .endIcon {
    position: absolute;
    top: map-get($base-text-field-sizes, icon-margin);
  }

  .startIcon {
    left: map-get($base-text-field-sizes, icon-margin);
  }

  .TextInputWrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.6rem;
    font-size: 1.4rem;
    overflow: hidden;
  }

  .TextInputBaseInput {
    margin: 0;
    border: solid 0.1rem #8ea6c1;
    border-top-color: transparent;
    border-radius: 0.4rem;
    width: 100%;
    height: inherit;
    background-color: transparent;
    box-shadow: none;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: inherit;
    transition: border 0.2s, box-shadow 0.2s;
    padding: 0 1.6rem;
    box-sizing: border-box;
    min-height: 3.8rem;

    &:not(:focus) {
      border-top-color: #8ea6c1;

      + .TextInputPlaceholder {
        font-size: 1.4rem;
        line-height: 5rem;

        &::before,
        &::after {
          border-top-color: transparent;
        }
      }
    }

    &:focus {
      border-color: #3c54b2;
      border-top-color: transparent;
      box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1),
        inset 0 -1px var(--pure-material-safari-helper1);
      outline: none;

      + .TextInputPlaceholder {
        color: #3c54b2;

        &::before,
        &::after {
          border-top-color: #3c54b2;
          box-shadow: inset 0 1px var(--pure-material-safari-helper1);
        }
      }
    }
  }

  .TextInputPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    color: #8ea6c1;
    font-size: 1.2rem;
    line-height: 1.5rem;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;

    &::before,
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      margin-top: 0.6rem;
      border-top: solid 1px;
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      min-width: 1rem;
      height: 0.8rem;
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color 0.2s, box-shadow 0.2s;
    }

    &::before {
      margin-right: 0.4rem;
      border-left: solid 0.1rem transparent;
      border-radius: 0.4rem 0;
    }

    &::after {
      flex-grow: 1;
      margin-left: 0.4rem;
      border-right: solid 0.1rem transparent;
      border-radius: 0 0.4rem;
    }
  }

  // /* Disabled */
  // .TextInputWrapper > input:disabled,
  // .TextInputWrapper > input:disabled + span,
  // .TextInputWrapper > textarea:disabled,
  // .TextInputWrapper > textarea:disabled + span {
  //   border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  //   border-top-color: transparent !important;
  //   color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  //   pointer-events: none;
  // }

  // .TextInputWrapper > input:disabled + span::before,
  // .TextInputWrapper > input:disabled + span::after,
  // .TextInputWrapper > textarea:disabled + span::before,
  // .TextInputWrapper > textarea:disabled + span::after {
  //   border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  // }

  // .TextInputWrapper > input:disabled:placeholder-shown,
  // .TextInputWrapper > input:disabled:placeholder-shown + span,
  // .TextInputWrapper > textarea:disabled:placeholder-shown,
  // .TextInputWrapper > textarea:disabled:placeholder-shown + span {
  //   border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  // }

  // .TextInputWrapper > input:disabled:placeholder-shown + span::before,
  // .TextInputWrapper > input:disabled:placeholder-shown + span::after,
  // .TextInputWrapper > textarea:disabled:placeholder-shown + span::before,
  // .TextInputWrapper > textarea:disabled:placeholder-shown + span::after {
  //   border-top-color: transparent !important;
  // }
}
