$transition-duration: getTextFieldSizes(label-transition);
@mixin generate-text-input-styles {
  .Explanation {
    display: block;
    margin: getTextFieldSizes(explanation-margin) 0;
    max-width: getTextFieldSizes(explanation-max-width);
    word-break: break-word;
    @include theme(color, default-input-color);
  }
  .TextInputWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: getTextFieldSizes(input-width);
    padding-top: getTextFieldSizes(input-label-offset);
    font-size: getTextFieldSizes(input-font-size);
    overflow: hidden;
  }
  // Input
  .TextInputBaseInput {
    width: 100%;
    &--textarea {
      overflow: hidden;
      resize: none;
    }
    @include theme(border, default-input-border-color, solid getTextFieldSizes(input-border-width));
    &:hover,
    &:focus,
    &--filled {
      border-width: getTextFieldSizes(input-hover-border-width);
    }
    &:focus {
      @include theme(border-color, default-input-border-color);
    }
    // Sizes
    padding: 0 getTextFieldSizes(input-type-offset);
    min-height: getTextFieldSizes(input-min-height);
    // Reset
    background-color: transparent;
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    border-top-color: transparent;
    height: inherit;
    box-shadow: none;
    font-family: inherit;
    // Animation
    transition: border $transition-duration, box-shadow $transition-duration;
    &:not(:focus):not(.TextInputBaseInput--filled) {
      @include theme(border-top-color, default-input-border-color);
      + .TextInputLabelContainer {
        line-height: getTextFieldSizes(input-label-line-height);
        &::before,
        &::after {
          border-top-color: transparent;
        }
      }
    }
    &--with-label {
      &:focus,
      &.TextInputBaseInput--filled {
        border-top-color: transparent !important;
      }
    }
    &:focus,
    &--filled {
      @include theme(color, black-color);
      box-shadow: inset 1px 0 inherit, inset -1px 0 inherit, inset 0 -1px inherit;
      outline: none;
      + .TextInputLabelContainer {
        @include theme(color, default-input-color);
        font-size: getTextFieldSizes(input-label-focused-font-size);
        &::before,
        &::after {
          @include theme(border-top-color, default-input-border-color);
        }
      }
    }
    &--with-two-start-icon {
      padding-left: getTextFieldSizes(input-with-two-icon-padding) !important;
    }
    &--with-two-end-icon {
      padding-right: getTextFieldSizes(input-with-two-icon-padding) !important;
    }
  }
  // Label
  .TextInputLabelContainer {
    position: absolute;
    top: 0;
    @include flex;
    @include theme(border-color, default-input-border-color);
    width: 100%;
    max-height: 100%;
    @include theme(color, default-input-color);
    font-size: getTextFieldSizes(input-font-size);
    line-height: getTextFieldSizes(input-label-focused-line-height);
    cursor: text;
    transition: text-indent $transition-duration, color $transition-duration, font-size $transition-duration,
      line-height $transition-duration;
    height: getTextFieldSizes(input-label-height);
    &::before,
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      margin-top: getTextFieldSizes(input-label-offset);
      border-top: solid 1px;
      @include theme(border-top-color, default-input-border-color);
      min-width: getTextFieldSizes(input-corner-min-width);
      height: calc(getTextFieldSizes(input-label-offset) + 0.2rem);
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color $transition-duration, box-shadow $transition-duration;
    }
    &::before {
      margin-right: getTextFieldSizes(input-corner-offset);
      border-left: solid 0.1rem transparent;
    }
    &::after {
      flex-grow: 1;
      margin-left: getTextFieldSizes(input-corner-offset);
      border-right: solid 0.1rem transparent;
    }
  }
  .TextInputLabelText {
    min-height: getTextFieldSizes(input-label-text-height);
    padding-right: getTextFieldSizes(input-label-icon-offset);
    @include dots-after-text;
    &--with-two-start-icon {
      padding-left: getTextFieldSizes(input-label-with-two-start-icon-padding);
    }
    &--with-two-end-icon {
      padding-right: getTextFieldSizes(input-label-with-two-end-icon-padding);
    }
  }
  // Icons
  .StartIcon,
  .EndIcon,
  .TooltipExplanation {
    position: absolute;
    // top: getTextFieldSizes(icon-margin);
    top: getTextFieldSizes(icon-top-space);
    min-width: getTextFieldSizes(input-icon-size);
    height: getTextFieldSizes(input-icon-size);
    @include theme(color, primary, $opacity: 0.65);
    @include center-flex;
  }
  .StartIcon {
    left: getTextFieldSizes(icon-margin-left);
  }
  .TooltipExplanation,
  .EndIcon {
    right: getTextFieldSizes(icon-margin-right);
  }
  .TextInputContainer {
    min-height: getTextFieldSizes(input-container);
    &--full-width {
      .TextInputWrapper {
        max-width: initial;
      }
      .Explanation {
        max-width: initial;
      }
    }
    &--focused,
    &--filled {
      .EndIcon,
      .StartIcon {
        @include theme(color, primary);
      }
      .TextInputLabelText {
        padding-right: 0;
        min-height: 0;
        &--with-two-start-icon {
          padding-left: 0;
        }
      }
    }
    &--disabled {
      opacity: getTextFieldSizes(disabled-opacity);
    }
    &--withRightIcon {
      .TextInputBaseInput {
        padding-right: getTextFieldSizes(input-type-offset--with-icons);
      }
      .TooltipExplanation {
        right: calculateRem(30px);
      }
    }
    &--withLeftIcon {
      .TextInputBaseInput {
        padding-left: getTextFieldSizes(input-type-offset--with-icons);
      }
      .TextInputLabelContainer {
        text-indent: getTextFieldSizes(input-label-offset--with-icons);
      }
      .TextInputBaseInput {
        &:focus,
        &--filled {
          + .TextInputLabelContainer {
            text-indent: 0;
          }
        }
      }
    }
    &--border-radius {
      .TextInputBaseInput {
        border-radius: getTextFieldSizes(input-border-radius);
      }
      .TextInputLabelContainer {
        &::before {
          border-radius: getTextFieldSizes(input-border-radius) 0;
        }
        &::after {
          border-radius: 0 getTextFieldSizes(input-border-radius);
        }
      }
    }
  }
  // Color mapping
  .TextInputContainer {
    @each $color in $base-colors {
      &--#{$color} {
        &--focused,
        &--filled {
          .EndIcon,
          .StartIcon {
            @include theme(color, #{$color});
          }
        }
        .TooltipExplanation,
        .Explanation {
          @include theme(color, #{$color});
        }
        .StartIcon,
        .EndIcon {
          @include theme(color, #{$color});
        }
        .TextInputLabelContainer {
          @include theme(border-color, #{$color});
          @include theme(color, #{$color});
          &::before,
          &::after {
            @include theme(border-top-color, #{$color});
          }
        }
        .TextInputBaseInput {
          @include theme(color, #{$color});
          @include theme(border, #{$color}, solid 0.1rem);
          &:not(:focus) {
            @include theme(border-top-color, #{$color});
          }
          &:focus,
          &--filled {
            @include theme(border-color, #{$color});
          }
          &:focus {
            @include theme(border-color, #{$color});
            + .TextInputLabelContainer {
              @include theme(color, #{$color});
              &::before,
              &::after {
                @include theme(border-top-color, #{$color});
              }
            }
          }
        }
      }
    }
  }
  .TextInputBaseInput--textarea {
    height: 20px;
    padding-top: getTextFieldSizes(text-area-padding-top);
  }
}
