$base-text-field-variables: (
  input-container: calculateRem(69px),
  input-width: calculateRem(280px),
  input-font-size: calculateRem(14px),
  input-min-height: calculateRem(38px),
  input-disabled: 0.5,
  input-label-height: calculateRem(14px),
  input-icon-size: calculateRem(24px),
  disabled-opacity: 0.5,
  //
  input-label-focused-font-size: calculateRem(12px),
  icon-margin: calculateRem(13px),
  icon-margin-left: calculateRem(9px),
  icon-margin-right: calculateRem(8px),
  explanation-margin: 0,
  explanation-max-width: calculateRem(280px),
  input-label-offset: calculateRem(5.3px),
  input-label-offset--with-icons: calculateRem(27px),
  label-transition: 0.2s,
  input-border-radius: 4px,
  input-type-offset: calculateRem(16px),
  input-type-offset--with-icons: calculateRem(41px),
  input-label-line-height: calculateRem(50px),
  input-label-focused-line-height: calculateRem(15px),
  input-corner-min-width: calculateRem(10px),
  input-corner-offset: calculateRem(6px),
  input-border-width: calculateRem(0.5px),
  input-hover-border-width: calculateRem(1px),
  input-label-icon-offset: calculateRem(20px),
  input-with-two-icon-padding: calculateRem(63px),
  input-label-text-height: calculateRem(38px),
  input-label-with-two-start-icon-padding: calculateRem(24px),
  input-label-with-two-end-icon-padding: calculateRem(40px)
);

@function getTextFieldSizes($property) {
  @return map-get($base-text-field-variables, $property);
}

$text-field-colors: (
  input-bg: color(selago),
  default-input-color: color(gray-transparent),
  //
  input-color-focus-default: color(azure-approx),
  //
  input-color--error: color(red-orange),
  input-focused-color--error: color(red-orange),
  //
  input-color--success: color(emerald),
  input-focused-color--success: color(emerald),
  //
  input-color--warning: color(sunglow),
  input-focused-color--warning: color(sunglow),
  //
);
