.TableContainer {
  border-collapse: collapse;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1.6rem;
  min-width: 124.6rem;
  overflow-x: scroll;

  .TableBody {
    tr {
      &:hover {
        .ActionTableCell {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          background: #eaf3f3;
          max-width: 16.8rem;
        }
      }
    }
  }

  &--withSelection {
    .TableBody,
    .TableHead {
      tr td,
      tr th {
        &:first-child {
          max-width: 4.8rem !important;
        }
      }
    }
  }

  .ActionTableCell {
    display: none;
  }
}
