.TableCell {
  display: flex;
  align-items: center;
  background: transparent;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 2.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-bottom: solid 1px #7c84ab;
  width: 100%;
}

.TableCell--center {
  justify-content: center;
}
.TableCell--start {
  justify-content: start;
}
.TableCell--end {
  justify-content: flex-end;
}
