.TableHead {
  display: flex;
  background: transparent;
  white-space: nowrap;
  padding: 1.8rem 1.4rem 0;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1.4rem;
  font-weight: 700;
  color: #7c84ab;
  width: 20%;
  height: 5.2rem;
  text-align: left;
  text-transform: uppercase;

  div {
    max-width: 13.5rem;
    display: inline-block;
  }
  &:hover {
    background-color: transparent;
  }
  .IconArrow {
    position: relative;
    left: 0.3rem;
    top: -0.9rem;

    .IconUp {
      width: 0.67rem;
      height: 0.43rem;
      transform: rotate(180deg);
      fill: #7c84ab;
    }

    .IconDown {
      width: 0.67rem;
      height: 0.43rem;
      position: absolute;
      left: 0.002rem;
      top: 1.3rem;
      fill: #7c84ab;
    }

    .IconDisabled {
      opacity: 0.4;
    }
  }
}
