.TableRow {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(43, 54, 116, 0.1);
  font-weight: normal;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
}

.TableRow--hover {
  background-color: #f4f7fe;
  font-weight: bold;
}

.TableRow--selected {
  background-color: #f4f7fe;
}
