.TableCell {
  display: inline-block;
  align-items: center;
  background: transparent;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 2.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-bottom: solid 1px #7c84ab;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
