.TableScroll,
.TableContainer {
  max-width: 124.6rem;
}

.TableContainer {
  border-collapse: collapse;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1.6rem;
  width: 100%;

  .TableHead tr {
    min-height: 5.5rem;
    th {
      &:last-child {
        svg {
          display: none;
        }
      }
    }
  }

  .TableBody {
    tr {
      height: 5.1rem;

      &:hover {
        .ActionTableCell {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          background: #eaecf6;
          height: 100%;
          max-width: 16.3rem;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--withSelection {
    .TableBody,
    .TableHead {
      tr td,
      tr th {
        &:first-child {
          max-width: 1.8rem !important;
        }
      }
    }
  }

  .ActionTableCell {
    display: none;
  }
}
