$infiniteloop-sizes: (
  infinite-scroll-loop-wrapper-width: calculateRem(84px),
  infinite-scroll-loop-wrapper-height: calculateRem(293px),
  infinite-scroll-loop-wrapper-border-radius: 16px,
  infinite-number-font-size: calculateRem(18px),
  infinite-number-margin: calculateRem(8px),
  infinite-number-height: calculateRem(38px)
);

$infiniteloop-colors: (
  border-color: color(gray-transparent)
);

@function getInfiniteLoopScrollSizes($property) {
  @return map-get($infiniteloop-sizes, $property);
}
