@mixin generate-input-ip-picker-styles {
  .InputStylesWrapper {
    padding-top: calculateRem(5.3px);
  }

  .InputStyles {
    position: relative;
    padding: 0 calculateRem(12px) !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0.5px solid transparent;
    max-width: calculateRem(280px);
    box-sizing: border-box;
    padding: calculateRem(16px);
    height: calculateRem(38px);
    border-radius: calculateRem(4px);
    border-color: transparent;
    box-shadow: 0 0 0 1px color(default-input-border-color);
    color: color(nepal);
    cursor: text;

    &--full-width {
      width: 100%;
      max-width: unset;
    }

    &--danger {
      box-shadow: 0 0 0 1px color(red-orange);
    }

    &--disabled {
      box-shadow: 0 0 0 1px #95acc5;
    }
  }

  .LabelStyles {
    font-size: calculateRem(12px);
    position: absolute;
    top: calculateRem(-7px);
    left: calculateRem(9px);
    padding: 0 calculateRem(5px);
    background: white;
    @include theme(color, default-input-color);

    &--danger {
      color: color(red-orange) !important;
    }

    &--disabled {
      color: #95acc5 !important;
    }
  }

  .InputBase {
    width: calculateRem(25px);
    border: none;
    box-shadow: none;
    outline: none;
    color: color(black-color);
    background: transparent;

    &--disabled {
      color: #505d6eb7 !important;
    }
  }

  .InputBaseWrapper {
    display: flex;
    align-items: center;
  }

  .InputBaseWrapperFull {
    width: 100%;
  }

  .Divider {
    position: relative;
    top: calculateRem(4px);
    right: calculateRem(1px);
    width: calculateRem(2px);
    height: calculateRem(2px);
    background-color: color(black-color);
    border-radius: 50%;

    &--disabled {
      color: #505d6eb7 !important;
    }
  }

  .Explanation {
    margin-top: calculateRem(5px);
    display: block;
    max-width: calculateRem(280px);
    word-break: break-word;
    @include theme(color, default-input-color);

    &--danger {
      color: color(red-orange) !important;
    }

    &--disabled {
      color: #95acc5 !important;
    }
  }
}
