@mixin generate-icon-button-styles {
  .IconButtonBase {
    @include center-flex();

    width: getIconButtonSizes(icon-button-width);
    height: getIconButtonSizes(icon-button-height);

    border-radius: 50%;

    cursor: pointer;
    border: none;
    padding: 0;

    &--icon {
      // @include theme(color, black-color);
      width: getIconButtonSizes(icon-button-icon-width);
      height: getIconButtonSizes(icon-button-icon-height);
      color: #c2c2dd !important;
      svg {
        width: inherit;
        height: inherit;
      }

      @include center-flex();
    }

    &--dark {
      background-color: transparent;
      &:hover {
        @include theme(background-color, black-color--transparent);
      }
    }

    &--light {
      @include theme(background-color, primary--color);
      @include theme(box-shadow, box-shadow-color, 0 2px 4px 0);

      &:hover {
        @include theme(border, primary, getIconButtonSizes(light-border-size) solid);
        @include theme(color, primary);
      }
    }
  }

  .AcionBtns {
    position: sticky;
    z-index: 100;
    top: 0;
  }
}
