$icon-button-sizes: (
  icon-button-width: 4rem,
  icon-button-height: 4rem,
  icon-button-borderRadius: 50%,
  icon-button-icon-width: 2.4rem,
  icon-button-icon-height: 2.4rem,
  icon-button-hover-opacity: 0.1
);

$icon-button-colors: (
  icon-button-hover-background-color: color(heavy-violet)
);
