$icon-button-sizes: (
  icon-button-width: calculateRem(40px),
  icon-button-height: calculateRem(40px),
  icon-button-icon-width: calculateRem(24px),
  icon-button-icon-height: calculateRem(24px),
  icon-button-hover-opacity: 0.1,
  light-box-shadow: 0 calculateRem(2px) calculateRem(4px) 0 rgba(0, 0, 0, 0.1),
  light-border-size: calculateRem(1px)
);

@function getIconButtonSizes($property) {
  @return map-get($icon-button-sizes, $property);
}

$icon-button-colors: ();
