@mixin generate-loader-styles {
  .LoaderWrapper {
    position: relative;
    width: getLoaderSizes(loader-wrapper-sizes);
    height: getLoaderSizes(loader-wrapper-sizes);

    .Loader {
      @include center-absolute();
      width: getLoaderSizes(loader-width);
      height: getLoaderSizes(loader-height);
      font-size: getLoaderSizes(loader-font-size);
      border-radius: getLoaderSizes(loader-border-radius);
      -webkit-animation: loader 1.3s infinite linear;
      animation: loader 1.3s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);

      @each $color in $base-colors {
        &--#{$color} {
          @include theme(color, #{$color});
        }
      }
    }

    &--sm {
      width: getLoaderSizes(loader-wrapper-sizes--sm);
      height: getLoaderSizes(loader-wrapper-sizes--sm);

      .Loader {
        width: getLoaderSizes(loader-sizes--sm);
        height: getLoaderSizes(loader-sizes--sm);
        font-size: getLoaderSizes(loader-sizes--sm);
      }
    }

    @keyframes loader {
      0%,
      100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
          -3em 0 0 -1em, -2em -2em 0 0;
      }
      12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
          -3em 0 0 -1em, -2em -2em 0 -1em;
      }
      25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
          -3em 0 0 -1em, -2em -2em 0 -1em;
      }
      37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
          -3em 0em 0 -1em, -2em -2em 0 -1em;
      }
      50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
          -3em 0em 0 -1em, -2em -2em 0 -1em;
      }
      62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em,
          -3em 0 0 0, -2em -2em 0 -1em;
      }
      75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
          -3em 0em 0 0.2em, -2em -2em 0 0;
      }
      87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
          -3em 0em 0 0, -2em -2em 0 0.2em;
      }
    }
  }
}
