@mixin generate-tag-with-image-styles {
  .TagImageWrapper {
    @include flex(center, center);
    width: fit-content;
    width: -moz-fit-content;
    min-width: getTagImageSizes(tag-image-wrapper-min-width);
    height: getTagImageSizes(tag-image-wrapper-height);
    border-radius: getTagImageSizes(tag-image-wrapper-border-radius);
    padding: getTagImageSizes(tag-image-wrapper-padding);
    background-color: getTagImageColors(tag-image-background);
    box-sizing: border-box;
    border: 1px solid getTagImageColors(tag-image-background);
    transition: border-color 0.2s ease-in;

    &--hover:hover {
      border-color: getTagImageColors(tag-image-background-hovered);

      .ActionIcon {
        opacity: 1;
      }
    }

    .ActionIcon {
      cursor: pointer;
      fill: getTagImageColors(tag-image-background-hovered);
      opacity: 0;
      transition: opacity 0.2s ease-in;

      &--left-margin {
        margin-left: getTagImageSizes(alert-close-margin);
      }

      &--right-margin {
        margin-right: getTagImageSizes(alert-close-margin);
      }
    }

    .Image {
      width: getTagImageSizes(image-sizes);
      height: getTagImageSizes(image-sizes);

      img {
        width: 100%;
        height: 100%;
        border-radius: getTagImageSizes(image-border-radius);
      }
    }

    .Label {
      color: getTagImageColors(tag-image-color);

      &--left-margin {
        margin-left: getTagImageSizes(image-margin);
      }

      &--right-margin {
        margin-right: getTagImageSizes(image-margin);
      }
    }
  }
}
