@mixin generate-table-styles {
  .TableScroll,
  .TableContainer {
    max-width: getTableSizes(table-container-width);
  }

  .TableScroll {
    @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
    border-radius: getTableSizes(table-scroll-border-radius);
  }

  .TableContainer {
    border-collapse: collapse;
    width: 100%;
    @include theme(background-color, primary--color);
    opacity: 0;

    &--ready {
      opacity: 1;
    }

    .TableHead tr {
      min-height: getTableSizes(table-head-row-height);
      th {
        &:last-child {
          svg {
            display: none;
          }
        }
      }
    }

    .LastTableCell {
      margin-right: getTableSizes(last-table-cell-margin);
    }

    .TableBody {
      tr {
        height: getTableSizes(table-body-row-height);

        &:hover {
          .ActionTableCell {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            @include theme(background-color, action-table-cell-bg-color);
            height: 100%;
            max-width: getTableSizes(table-action-cell-width);
            @include flex(center, center);
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &--withSelection {
      .TableBody,
      .TableHead {
        tr td,
        tr th {
          &:first-child {
            max-width: getTableSizes(table-with-selection-width) !important;
          }
        }
      }
    }

    .ActionTableCell {
      display: none;
    }
  }
}
