@mixin generate-table-styles {
  .TableScroll {
    display: block;
  }

  .TableHead {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
  }

  .TableBody {
    display: block !important;
  }

  .TableScroll,
  .TableContainer {
    max-width: 100%;
  }

  .TableScroll {
    @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
    border-radius: getTableSizes(table-scroll-border-radius);
  }

  .TableScrollVertical {
    display: block;
  }

  .TableContainer {
    border-collapse: collapse;
    width: 100%;
    @include theme(background-color, primary--color);
    opacity: 0;
    // tr {
    //   // transition: all 0.16s linear;
    // }
    &--ready {
      opacity: 1;
    }

    .TableHead tr {
      min-height: getTableSizes(table-head-row-height);
      th {
        &:last-child {
          svg {
            display: none;
          }
        }
      }
    }

    .LastTableCell {
      margin-right: getTableSizes(last-table-cell-margin) !important;
      padding: 0;
      opacity: 1;
      // transition: all 0.16s linear;
    }

    .TableBody {
      tr {
        height: getTableSizes(table-body-row-height);

        &:hover {
          .LastTableCell {
            opacity: 0;
            div {
              display: none !important;
            }
          }
          .ActionTableCell {
            // top: 0;
            // right: 0;
            // margin: 0;
            // padding: 0;
            // @include theme(background-color, action-table-cell-bg-color);

            @include flex(center, center);
            // height: 100px;
            // max-width: getTableSizes(table-action-cell-width);
            // width: 200px;
            // background: aqua;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &--withSelection {
      .TableBody,
      .TableHead {
        tr td,
        tr th {
          &:first-child {
            max-width: getTableSizes(table-with-selection-width) !important;
            padding-left: 0;
            padding-right: 0;
            box-sizing: content-box;
          }
        }
      }
    }

    .ActionTableCell {
      display: none;
    }
  }

  .Table--no-result {
    min-height: getTableSizes(table-no-result);
  }

  .IllustrationWrapper {
    min-height: getTableSizes(illustration-wrapper-min-height); //remove class
    @include center-absolute();
    min-height: getTableSizes(illustration-wrapper-min-height);

    .Illustration {
      max-width: getTableSizes(illustration-wrapper-width);
      margin: auto;
      margin-top: getTableSizes(illustration-wrapper-margin);
    }

    .IllustrationText {
      margin: auto;
      margin-top: getTableSizes(illustration-text-margin-top);
      text-align: center;
      word-break: break-word;
      letter-spacing: getTableSizes(illustration-text-letter-spacing);
      @include theme(color, black-color);
    }
  }
}
