@mixin generate-table-styles {
  .TableScroll {
    display: block;
  }

  .TableWrapper {
    position: relative;
  }

  .Loader {
    @include center-absolute;

    z-index: 999;
  }

  .ScrollThumb,
  .ScrollTrack {
    z-index: 1 !important;
  }

  .TableHead {
    position: sticky;
    top: 0;
    z-index: getTableSizes(table-head-z-index);
    @include theme(background-color, backdground-color-table-head);

    tr {
      position: relative;
      z-index: getTableSizes(table-head-tr-z-index);
    }
  }

  .TableBody {
    display: block !important;
    // min-height: getTableSizes(table-body-min-height);
  }

  .TableScroll,
  .TableContainer {
    max-width: 100%;
  }

  .TableScroll {
    @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
    border-radius: getTableSizes(table-scroll-border-radius);
    z-index: 0;
  }

  .TableScrollVertical {
    display: block;
  }

  .TableContainer {
    border-collapse: collapse;
    width: 100%;
    @include theme(background-color, primary--color);
    opacity: 0;
    tr {
      position: relative;
      top: 0;
      left: 0;
    }
    &--ready {
      opacity: getTableSizes(table-conatiner-tr-ready-opacity);
    }

    .TableHead tr {
      min-height: getTableSizes(table-head-row-height);
      th {
        &:last-child {
          svg {
            display: none;
          }
        }
      }
    }

    .LastTableCell {
      margin-right: getTableSizes(last-table-cell-margin) !important;
      padding: 0;
      opacity: getTableSizes(last-table-cell-opacity);
    }

    .TableBody {
      tr {
        height: getTableSizes(table-body-row-height);

        &:hover {
          // .LastTableCell {
          //   opacity: 0;

          //   div {
          //     display: none !important;
          //   }
          // }

          .ActionTableCell {
            @include flex(center, center);
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &--withSelection {
      .TableBody,
      .TableHead {
        tr td,
        tr th {
          &:first-child {
            max-width: getTableSizes(table-with-selection-width) !important;
            padding-left: 0;
            padding-right: 0;
            box-sizing: content-box;
          }
        }
      }
    }

    .ActionTableCell {
      display: none;
    }
  }

  .TableContainer {
    &.Table {
      &--no-result {
        min-height: getTableSizes(table-no-result);
      }

      &--loading {
        position: relative;

        .IllustrationWrapper {
          display: none;
        }

        .TableHead,
        .TableBody {
          @include theme(opacity, disabled-opacity);
        }
      }
    }
  }

  .IllustrationWrapper {
    min-height: getTableSizes(illustration-wrapper-min-height);
    @include center-absolute();
    min-height: getTableSizes(illustration-wrapper-min-height);

    .Illustration {
      max-width: getTableSizes(illustration-wrapper-width);
      margin: auto;
      margin-top: getTableSizes(illustration-wrapper-margin);
    }

    .IllustrationText {
      margin: auto;
      margin-top: getTableSizes(illustration-text-margin-top);
      text-align: center;
      word-break: break-word;
      letter-spacing: getTableSizes(illustration-text-letter-spacing);
      @include theme(color, black-color);
    }
  }

  .ActionToolsStickyHorizontal {
    position: sticky;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .ActionTools {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 0;
    padding: 0;
    margin: 0;
    transform: translate(0, 0);
  }

  .ActionTableCell {
    height: getTableSizes(action-table-cell-height);
    position: absolute;
    top: 0;
    right: getTableSizes(action-table-cell-right);
    min-width: getTableSizes(action-table-cell-min-width);
    margin-top: 0;
    transform: translate(10px, -51%);
    background-color: getTableColors(action-table-cell-bg-color2);
    padding-right: getTableSizes(action-table-cell-padding-right);
  }
}
