$table-sizes: (
  table-container-width: calculateRem(1256px),
  table-scroll-border-radius: 16px,
  table-head-row-height: calculateRem(55px),
  table-body-row-height: calculateRem(51px),
  table-action-cell-width: calculateRem(140px),
  table-with-selection-width: calculateRem(18px),
  last-table-cell-margin: calculateRem(16px),
  illustration-wrapper-width: calculateRem(209.74px),
  illustration-wrapper-height: calculateRem(135.83px),
  illustration-wrapper-min-height: calculateRem(320px),
  illustration-wrapper-margin: calculateRem(81px),
  illustration-text-width: calculateRem(251px),
  illustration-text-margin-top: calculateRem(24px),
  illustration-text-letter-spacing: calculateRem(1.4px)
);

$table-colors: (
  action-table-cell-bg-color: color(white-lilac)
);

@function getTableSizes($property) {
  @return map-get($table-sizes, $property);
}
