.Checkbox {
  width: 2.4rem;
  height: 2.4rem;
  input {
    -webkit-appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid rgba(43, 54, 116, 0.8);
    border-radius: 0.1rem;
    transform: translateY(0);
    outline: none;
    border-radius: 0.4rem;
    margin: 0;

    &:checked {
      background-color: #64c9cf;
      border-color: #64c9cf;

      &:after {
        content: '';

        position: absolute;

        width: 0.91rem;
        height: 0.67rem;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        background: url('../../../icons/check.svg') no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}

.CheckboxActive {
  input {
    border: 0.1rem solid #505d6e;
  }
}

.CheckboxDisabled {
  input {
    border: 0.1rem solid #505d6e;
    opacity: 0.4;
  }
}
